@import "mixins";
@import "variables";
@import "../animate/properties";
@import "../animate/zooming-exits/zoomOut";

// body {
// 	position: relative;
		// Removed because this adversely affects the tippy tooltip
// }

#discount-badge {
	position: fixed;
	top: 90px;
	// top: 15px;
	left: 50%;
	margin-left: -130px;
	width: 260px;
	border-radius: 8px;
	z-index: 400;
	background-color: $white;
	box-shadow: 0 0 10px 0 rgba($navy, 0.5);
	text-transform: uppercase;
	@include mq(sm) {
		top: 100px;
		// top: 25px;
	}
	.badge-discount-amount {
		width: 30%;
		background-color: $discount-badge-background-color; // default
		border-radius: 8px 0 0 8px;
		float: left;
		padding: 15px 0;
		h5 {
			color: $discount-badge-text-color;
			font-size: 22px;
			text-align: center;
			margin: 0;
			line-height: 1;
			font-weight: 900;
		}
		sup {
			font-size: 70%;
			line-height: 0;
			position: relative;
			vertical-align: baseline;
			top: -6px;
		}
	}
	.badge-text {
		width: 70%;
		text-align: center;
		float: left;
		padding: 15px 0;
		h6 {
			font-size: 16px;
			color: $navy;
			margin: 5px 0 0 0;
			font-weight: 900;
			line-height: 1;
			padding: 0;
			letter-spacing: .25px;
		}
		p {
			font-size: 12px;
		}
	}
	&.zoom-out {
		@include zoomOut (
			$duration: 1s,
			$delay: 2s,
			$function: ease
		);
	}
}
