%svg {
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}

%abcenter {
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
