/* When editing, use the source file for this page in client/resources/sass */
@import '../compass';
@import '../bootstrap/variables';

@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/svg';
@import '../partials/layout';

$imgixDefaults: '?auto=format,compress&q=50';
$imgixCrop: '&fit=crop&crop=focalpoint';

.quantity-select,
.color-select,
.product-selection .type-select {
  position: relative;
  padding: 0 0 15px 0;
  text-align: center;
  border-bottom: solid 1px #dfdcd7;
  vertical-align: top;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  flex: auto;
  @include mq(xsm) {
    padding: 0 0 vwl(15px) 0;
    margin: 0 0 vwl(20px) 0;
  }
  @include mq(xxs) {
    padding: 0 0 vwp(15px) 0;
    margin: 0 0 vwp(20px) 0;
  }
  &::after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    line-height: 1;
    font-size: 1.3rem;
    background-color: #f7f5f3;
    padding: 0 5px;
    white-space: nowrap;
    @include mq(xsm) {
      font-size: vwl(13px);
      bottom: vwl(-7px);
    }
    @include mq(xxs) {
      font-size: vwp(13px);
      bottom: vwp(-7px);
    }
  }
}

.quantity-select, .type-select {
  display: inline-flex;
  &.inline {
    width: calc(66.6666667% - 4px);
    margin-left: 11px;
  }
}
.product-selection .type-select.inline {
  display: inline-flex;
}
.quantity-select {
  &::after {
    content: 'Qty.';
  }
  li {
    display: inline-block;
    list-style: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    color: $navy;
    line-height: 30px;
    width: 30px;
    padding: 0 0 28px 0;
    background-color: #fff;
    margin: 0 10px 0 0;
    height: 0;
    border-radius: 4px;
    border: solid 1px #dfdcd7;
    transition: 0.2s;
    position: relative;
    @include mq(xsm) {
      font-size: vwl(15px);
      width: vwl(30px);
      padding-bottom: vwl(28px);
      margin: 0 vwl(10px) 0 0;
      line-height: vwl(30px);
    }
    @include mq(xxs) {
      font-size: vwp(15px);
      width: vwp(30px);
      padding-bottom: vwp(28px);
      margin: 0 vwp(10px) 0 0;
      line-height: vwp(30px);
    }
    @include mq(md) {
      margin: 0 10px 0 0;
      width: 40px;
      padding-bottom: 38px;
      line-height: 40px;
    }
    @include mq(lg) {
      font-size: 1.8rem;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &[data-active='true'] {
      background-color: $navy;
      color: $white;
      span {
        background: $navy;
        border-color: $navy;
        color: $white;
        &::after {
          border: 3px solid $navy;
          width: 42px;
          width: vwp(42px);
          height: 42px;
          height: vwp(42px);
          top: -2px;
          top: vwp(-2px);
          left: -2px;
          left: vwp(-2px);
          @include mq(xs) {
            width: 38px;
            height: 38px;
          }
          @include mq(xssm) {
            width: vwl(38px);
            height: vwl(38px);
          }
          @include mq(md) {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
    &:hover,
    &:focus {
      color: $white;
      background-color: $navy;
      outline-color: $teal;
      outline-offset: 1px;
    }
    &::before {
      border-radius: 4px;
    }
    &[data-active='true'],
    &:hover,
    &:focus {
      &::before {
        border-radius: 6px;
      }
    }
  }
}

.color-select {
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  &::after {
    content: attr(data-active-color);
  }
  &.inline {
    width: calc(33.3333333% - 7px);
    display: inline-flex;
    padding-left: 8px;
    padding-right: 8px;
    @include mq(xsm) {
      padding-left: vwl(8px);
      padding-right: vwl(8px);
    }
    @include mq(xxs) {
      padding-left: vwp(8px);
      padding-right: vwp(8px);
    }
    @include mq(md) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .color {
      width: 30px;
      height: 30px;
      @include mq(xsm) {
        width: vwl(30px);
        height: vwl(30px);
      }
      @include mq(xxs) {
        width: vwp(30px);
        height: vwp(30px);
      }
      @include mq(sm) {
        width: 40px;
        height: 40px;
      }
    }
  }
  label {
    width: calc(33.3333333% + 3px);
  }
}

button.color,
.quantity-select button,
.product-selection .type-select button {
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: solid 2px #f7f5f3;
    transition: 0.2s;
  }
  &[data-active='true'],
  &:hover,
  &:focus {
    &::before {
      border-color: #dfdcd7;
      border-color: shade(#ccc, 20%);
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
    }
  }
}
.color {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  position: relative;
  list-style-type: none;
  border: solid 1px #ccc;
  @include mq(xsm) {
    width: vwl(32px);
    height: vwl(32px);
  }
  @include mq(xxs) {
    width: vwp(32px);
    height: vwp(32px);
  }
  @include mq(sm) {
    width: 38px;
    height: 38px;
  }
  @include mq(md) {
    width: 46px;
    height: 46px;
  }
  &::before {
    border-radius: 50%;
  }
  &[data-active='true'],
  &:hover,
  &:focus {
    &::before {
      border-radius: 50%;
    }
  }
  &[data-color='BW'] {
    // Brilliant White
    background-color: #edf1ff;
    border-color: shade(#edf1ff, 20%);
  }
  &[data-color='CS'] {
    background-color: #615f5f;
    border-color: shade(#615f5f, 20%);
  }
  &[data-color='CD'] {
    // Cool Dot
    background-color: $white;
    @include polkadot(shade(#f0f2f5, 20%));
    @extend %svg;
    border-color: shade(#f0f2f5, 40%);
    background-size: 105%;
  }
  &[data-color='DS'] {
    background-color: #cdc6bd;
    border-color: shade(#cdc6bd, 20%);
  }
  &[data-color='GG'] {
    // Granite Grey
    background-color: #615f5f;
    border-color: shade(#615f5f, 20%);
  }
  &[data-color='GR'] {
    // Grey
    background-color: #ccc;
    border-color: shade(#ccc, 20%);
  }
  &[data-color='MB'] {
    // Moon Beam
    background-color: #cdc6bd;
    border-color: shade(#cdc6bd, 20%);
  }
  &[data-color='PA'] {
    // Plein Air
    background-color: #bfcad6;
    border-color: shade(#bfcad6, 20%);
  }
  &[data-color='QG'] {
    // Quiet Grey
    background-color: #babbbd;
    border-color: shade(#babbbd, 20%);
  }
  &[data-color='WH'] {
    background-color: $white;
    border: solid 1px #dfdcd7;
  }
  &[data-color='WP'] {
    // Window Pane
    background-color: $white;
    @include windowpane(#000);
    @extend %svg;
    border-color: tint(#000, 30%);
    background-size: 105%;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #a3a3a3;
  }
}
.product-selection {
  .type-select {
    justify-content: space-between;
    &[data-label='true'] {
      &::after {
        content: attr(data-active-product);
      }
    }
    &[data-label='false'] {
      border: none;
    }
    button {
      width: calc(50% - 6px);
      position: relative;
      list-style-type: none;
      background-size: 100%;
      background-position: 50% 50%;
      border-radius: 6px;
      border: solid 1px #ccc;
      &:focus {
        outline: none;
      }
      &::before {
        border-radius: 8px;
      }
      span, label {
        line-height: 1.15;
        font-weight: 700;
      }
      span {
        font-size: 1.4rem;
        display: block;
        color: $navy;
        @include mq(xsm) {
          font-size: vwl(14px);
        }
        @include mq(xxs) {
          font-size: vwp(14px);
        }
        @include mq(md) {
          font-size: 1.6rem;
        }
        @include mq(lg) {
          font-size: 1.8rem;
        }
      }
      label {
        font-size: 1.2rem;
        color: #666;
        @include mq(xsm) {
          font-size: vwl(12px);
        }
        @include mq(xxs) {
          font-size: vwp(12px);
        }
        @include mq(md) {
          font-size: 1.4rem;
        }
      }
    }
    &.inline {
      li {
        height: 30px;
        @include mq(xsm) {
          height: vwl(30px);
        }
        @include mq(xxs) {
          height: vwp(30px);
        }
        @include mq(sm) {
          height: 40px;
        }
      }
    }
  }
  &[data-order='reverse'] {
    .type-select {
      margin-bottom: 5px;
      @include mq(xsm) {
        margin-bottom: vwl(5px);
      }
      @include mq(xxs) {
        margin-bottom: vwp(5px);
      }
      @include mq(lg) {
        margin-bottom: 10px;
      }
    }
    &[data-comparison-accordion='true'] {
      .type-select {
        margin: 0;
        padding: 0;
      }
    }
    &[data-comparison-accordion-active='true'] {
      .type-select {
        li {
          &::after {
            content: '';
            $size: 4px;
            width: $size;
            height: $size;
            background-color: transparent;
            border: solid 3px transparent;
            border-top: none;
            border-right: none;
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: rotate(-45deg) translateX(-50%);
            z-index: 1;
            transition: .2s;
          }
          &[data-active='true'] {
            &::after {
              // content: '';
              $size: 16px;
              width: $size;
              height: $size;
              background-color: $white;
              border-color: $navy;
              // border-top: none;
              // border-right: none;
              // position: absolute;
              // left: 50%;
              bottom: -3px;
              // transform: rotate(-45deg) translateX(-50%);
              // z-index: 1;
            }
          }
          &:first-of-type {
            border-bottom-left-radius: 0;
            &::before {
              border-bottom-left-radius: 0;
            }
          }
          &:last-of-type {
            border-bottom-right-radius: 0;
            &::before {
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }
}

// Type select li backgrounds
.product-selection {
  .color-select {
    &[data-active-color='Cold Stone'] {
      + .type-select {
        button {
          &[data-type='UU'] {
            background-image: url('../../assets/frame/swatch-UU-CS.jpg?w=286&h=84&fp-y=0');
          }
          &[data-type='TU'] {
            background-image: url('../../assets/frame/swatch-TU-CS.jpg?w=286&h=84&fp-y=0');
          }
        }
      }
    }
    &[data-active-color='Desert Sand'] {
      + .type-select {
        button {
          &[data-type='UU'] {
            background-image: url('../../assets/frame/swatch-UU-DS.jpg?w=286&h=84&fp-y=0');
          }
          &[data-type='TU'] {
            background-image: url('../../assets/frame/swatch-TU-DS.jpg?w=286&h=84&fp-y=0');
          }
        }
      }
    }
  }
}
main {
  &[data-active-size='TW'] {
    .type-select label:not([data-active-size='TW']) {
      display: none;
    }
  }
  &[data-active-size='TX'] {
    .type-select label:not([data-active-size='TX']) {
      display: none;
    }
  }
  &[data-active-size='FL'] {
    .type-select label:not([data-active-size='FL']) {
      display: none;
    }
  }
  &[data-active-size='QU'] {
    .type-select label:not([data-active-size='QU']) {
      display: none;
    }
  }
  &[data-active-size='KG'] {
    .type-select label:not([data-active-size='KG']) {
      display: none;
    }
  }
  &[data-active-size='CK'] {
    .type-select label:not([data-active-size='CK']) {
      display: none;
    }
  }
}