@include keyframes(fadeInOut) {
	  0% {opacity: 0;}
	 20% {opacity: 100%;}
	 80% {opacity: 100%;}
	100% {opacity: 0;}
}

@mixin fadeInOut($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(fadeIn);
	@include count($count);
	@include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}
