@import '../compass';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/svg';
@import '../partials/layout';
@import '../partials/helpers';

@keyframes carousel {
	from {
		transform: translateY(0);
	}
	to { 
		transform: translateY(-480px);
	}
}
@include mq(sm) {
	@keyframes carousel {
		from {
			transform: translateY(0);
		}
		to { 
			transform: translateY(-900px);
		}
	}
}
@media (min-width: 1660px) {
	@keyframes carousel {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-960px);
		}
	}
}
@keyframes vp {
	from {
		opacity: 1;
	}
	to { 
		opacity: 0;
	}
}

.hero {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 40%;
		@include filter-gradient(#00ffffff, #ffffff, vertical); // IE6-9
		@include background-image(linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%));
		z-index: 5;
		@include mq(sm) {
			top: 50%;
		}
	}
	.row {
		padding: 0 15px;
	}
	.column {
		height: 480px;
		overflow: hidden;
		position: relative;
		@include mq(xs) {
			width: 25%;
		}
		@include mq(xssm) {
			width: 33.3%;
		}
		@include mq(sm) {
			height: 600px;
			left: 12.5%;
		}
		@include mq(lg) {
			height: 690px;
			width: 20%;
			left: 20%;
		}
		&.two, &.six {
			@include mq(xxs) {
				display: none;
			}
		}
	}
	.group {
		position: absolute;
		left: 5px;
		right: 5px;
		top: 0;
		bottom: -480px;
		animation-name: carousel;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		@include mq(sm) {
			bottom: -900px;
		}
		@media (min-width: 1660px) {
			bottom: -960px;
		}
		&.one, &.seven {
			animation-duration: 32s;
		}
		&.two, &.six {
			animation-duration: 40s;
		}
		&.three, &.five {
			animation-duration: 48s;
		}
		&.four {
			animation-duration: 72s;
		}
	}
	.pic {
		height: 150px;
		margin-bottom: 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border-radius: 6px;
		transform:translate3d(0,0,0);
		@include mq(sm) {
			height: 290px;
		}
		@media (min-width: 1660px) {
			height: 310px;
		}
	}
	.logo {
		width: 128px;
		height: 128px;
		@include logo-lull-box($navy);
		@extend %svg;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: 0 30px 30px 0 rgba(11,40,54,.3);
		z-index: 6;
		@include mq(xssm) {
			top: 30%;
		}
		@include mq(sm) {
			width: 236px;
			height: 236px;
		}
		@include mq(md) {
			width: 260px;
			height: 260px;
		}
	}
	p {
		font-size: 1.3rem;
		color: rgba($navy, 0.7);
		position: absolute;
		bottom: 50px;
		left: 10px;
		right: 10px;
		z-index: 9;
		line-height: 1.2;
		@media (min-width: 360px) {
			font-size: 1.4rem;
		}
		@include mq(sm) {
			font-size: 1.8rem;
		}
		@include mq(md) {
			// font-size: 2.4rem;
			font-size: 2.2rem;
			bottom: 70px;
		}
		@include mq(lg) {
			font-size: 2.4rem;
		}
		&.pink-text {
			color: $pink;
			bottom: 75px;
			font-weight: 900;
			font-size: 1.8rem;
			@media (min-width: 360px) {
				font-size: 1.9rem;
			}
			@include mq(xssm) {
				bottom: 75px;
			}
			@include mq(sm) {
				bottom: 80px;
				font-size: 2.6rem;
			}
			@include mq(md) {
				bottom: 105px;
				// font-size: 2.7rem;
				font-size: 3.1rem;
			}
			@include mq(lg) {
				bottom: 115px;
				// font-size: 3rem;
				font-size: 3.2rem;
			}
		}
	}
	.down-arrow {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: $white;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 18px;
		@include arrow-thin($navy);
		background-repeat: no-repeat;
		background-position: 50% 55%;
		background-size: 20px;
		box-shadow: 0 6px 12px 0 rgba(11,40,54,.1);
		z-index: 6;
		font-size: 0;
		@include mq(md) {
			width: 66px;
			height: 66px;
			background-size: 30px;
		}
	}
}
#scroll-anchor {
  position: absolute;
  bottom: 0;
  height: 0;
}
