@import '../compass';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/svg';
@import '../partials/layout';

.hero.holiday {
	.group {
		// Independence Day
		&.three {
			.pic1.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero3-1.jpeg');
			}
			.pic2.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero3-2.jpg');
			}
			.pic3.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero4-3.jpg');
			}
			@include mq(sm) {
				.pic1.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero3-1-sm.jpeg');
				}
				.pic2.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero3-2-sm.jpg');
				}
				.pic3.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero4-3-sm.jpg');
				}
			}
		}
		&.four {
			.pic1.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero8-1.jpg');
			}
			.pic2.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero8-2.jpeg');
			}
			.pic3.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero4-1.jpg');
			}
			@include mq(sm) {
				.pic1.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero8-1-sm.jpg');
				}
				.pic2.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero8-2-sm.jpeg');
				}
				.pic3.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero4-1-sm.jpg');
				}
			}
		}
		&.five {
			.pic1.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero5-2.jpg');
			}
			.pic2.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero8-4.jpg');
			}
			.pic3.lazyloaded {
				background-image: url('../../assets/holiday-promotion/memorial-hero8-3.jfif');
			}
			@include mq(sm) {
				.pic1.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero5-2-sm.jpg');
				}
				.pic2.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero8-4-sm.jpg');
				}
				.pic3.lazyloaded {
					background-image: url('../../assets/holiday-promotion/memorial-hero8-3-sm.jfif');
				}
			}
		}
	}
}