@import '../compass';

// Core variables and mixins
@import '../bootstrap/variables';
@import '../bootstrap/mixins';

// Reset and dependencies
@import '../bootstrap/normalize';

// Core CSS
@import '../bootstrap/scaffolding';
@import '../bootstrap/grid';
@import '../bootstrap/utilities';
@import '../bootstrap/responsive-utilities';

@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/svg';
@import '../partials/layout';
@import '../partials/helpers';
@import '../partials/snippets/video-embed';
@import '../partials/snippets/lull-button-new';

@import '../bootstrap5/mixins';

$prefix: bs- !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
$enable-transitions:          true !default;
$enable-rounded:              true !default;
$enable-reduced-motion:       true !default;
$enable-shadows:              false !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// Modals

// scss-docs-start modal-variables
$modal-inner-padding:               $spacer !default;

$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  var(--#{$prefix}body-bg) !default;
$modal-content-border-color:        var(--#{$prefix}border-color-translucent) !default;
$modal-content-border-width:        var(--#{$prefix}border-width) !default;
$modal-content-border-radius:       var(--#{$prefix}border-radius-lg) !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       $box-shadow-sm !default;
$modal-content-box-shadow-sm-up:    $box-shadow !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;

$modal-header-border-color:         var(--#{$prefix}border-color) !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-footer-bg:                   null !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-footer-border-width:         $modal-header-border-width !default;

$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              translate(0, 100px) !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;
@import '../bootstrap5/modal';

// Bootstrap collapse (component animations partial)
// .fade {
//   opacity: 0;
//   @include transition(opacity .15s linear);
//   &.in {
//     opacity: 1;
//   }
// }
.collapse {
  display: none;
  &.in { display: block; }
}
.modal-backdrop.in {
	opacity: .5;
}

.hidden-xssm {
	@media (min-width: 544px) and (max-width: 767px) {
		display: none!important;
	}
}
@media (max-width: 543px) {
	.hidden-xxs {
		display: none !important;
	}
}
.visible-xxs {
	@include mq(xs) {
		display: none!important;
	}
}

tr.collapse.in    { display: table-row; }

tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.2s);
  @include transition-timing-function(ease);
}
/////////////////////////////////////////////////////
// Panels
// --------------------------------------------------
// Panel contents
.panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// Collapsible panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;
  }
}
/////////////////////////////////////////////

body {
	margin: 0!important;
	&.banner-margin {
		margin: 27px 0 0 0 !important;
		@include mq(md) {
			margin: 32px 0 0 0 !important;
		}
		@include mq(lg) {
			margin: 35px 0 0 0 !important;
		}
	}
}

main {
	max-width: 1920px;
	margin: 0 auto;
	@media (min-width: 1922px) {
		max-width: 1922px;
		border-left: solid 1px #efede9;
		border-right: solid 1px #efede9;
	}
	h1, h2 {
		text-align: center;
		font-weight: 700;
		color: $navy;
		font-size: 2.2rem;
		line-height: 1.2;
		margin: 15px 0 10px 0;
		pointer-events: none;
		@include mq(md) {
			font-size: 3rem;
		}
		@include mq(lg) {
			font-size: 4rem;
		}
		span {
			font-family: 'Mr Dafoe', cursive;
			display: block;
			color: $pink;
			font-size: 4rem;
			line-height: 1;
			font-weight: 400;
			@include mq(lg) {
				font-size: 6.5rem;
				margin-bottom: 15px;
			}
		}
	}
	p {
		color: #666;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.3;
		margin: 10px 0 15px 0;
		text-align: center;
		@include mq(md) {
			font-size: 1.8rem;
		}
		@include mq(lg) {
			font-size: 2rem;
		}
	}
	.pic {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			opacity: 1;
			transition: .3s;
		}
		&.lazyloaded {
			&::before {
				opacity: 0;
				transition: .3s;
			}
		}
	}
}

#value-props, #value-props-deux {
	background-color: #fff;
	text-align: center;
	position: relative;
	background-size: auto;
	background-position: 50% 50%;
	@include mq(xs) {
		height: 300px;
	}
	@include mq(sm) {
		height: 375px;
	}
	@include mq(md) {
		height: 450px;
	}
	@include mq(lg) {
		height: 525px;
	}
	.row {
		@include mq(sm) {
			display: flex;
		}
	}
	h1, h2, p {
		backface-visibility: hidden;
		@include mq(sm) {
			text-shadow: 0 0 15px #FFFFFF;
		}
	}
	.slide-content {
		position: relative;
		text-align: center;
		@include mq(xxs) {
			display: none;
		}
		@include mq(xssm) {
			width: 50%;
			height: 100%;
		}
		.vp {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 1;
			transition: .3s;
			@include mq(sm) {
				padding-top: 60px;
			}
			@include mq(md) {
				padding-top: 80px;
			}
			@include mq(lg) {
				padding-top: 100px;
			}
			&[data-active='false'] {
				opacity: 0;
			}
		}
	}
	.swiper {
		height: 535px;
		z-index: 10;
		overflow: visible;
		padding: 0;
		@media (min-width: 360px) {
			height: 602px;
		}
		@media (min-width: 375px) {
			height: 628px;
		}
		@media (min-width: 410px) {
			height: 686px;
		}
		@include mq(xssm) {
			width: 50%;
			height: 300px;
		}
		@include mq(sm) {
			height: 390px;
		}
		@include mq(md) {
			height: 475px;
		}
		@include mq(lg) {
			height: 550px;
		}
	}
	.swiper-slide {
		padding-top: 20px;
		background-size: cover;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		box-shadow: 0 30px 30px 0 rgba(11,40,54,.2);
		@include mq(xs) {
			background-position: 50% 60%;
			h1, h2, p {
				display: none;
			}
		}
	}
	p {
		margin-left: 15px;
		margin-right: 15px;
		br {
			@include mq(xssm) {
				display: none;
			}
		}
	}
	.swiper-pagination {
		bottom: 45px;
		left: 10%;
		right: 10%;
		width: auto;
		@include mq(xs) {
			right: 60%;
			bottom: 10px;
		}
		@include mq(sm) {
			bottom: 30px;
			right: 10%;
		}
		@include mq(md) {
			bottom: 45px;
		}
		&-bullet {
			width: 16px;
			height: 16px;
			margin: 0 8px;
			background-color: #fff;
			opacity: .75;
			cursor: pointer;
			box-shadow: 0 0 10px 0 rgba(11,40,54,.7);
			@include mq(xssm) {
				background-color: shade(#f7f6f4, 30%);
			}
			&:focus, &:active {
				outline: 0;
			}
			&-active {
				opacity: 1;
			}
		}
		&.mobile {
			@include mq(sm) {
				display: none;
			}
		}
	}
	.btn {
		position: absolute;
		bottom: 105px;
		z-index: 11;
		left: 15%;
		right: 15%;
		@include mq(xmd) {
			padding-left: 0;
			padding-right: 0;
		}
		@include mq(xs) {
			left: 5%;
			right: 55%;
			bottom: 45px;
		}
		@include mq(sm) {
			left: 17%;
			right: 17%;
			bottom: 75px;
		}
		@include mq(md) {
			left: 22%;
			right: 22%;
			bottom: 90px;
		}
		@include mq(lg) {
			bottom: 90px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
}

#value-props {
	background-color: rgb(255,255,255); // Old browsers
	@include mq(xxs) {
		@include filter-gradient(#ffffff, #95bbd5, vertical); // IE6-9
		@include background-image(linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(149,187,213,1) 100%));
	}
	&.slide-one {
		background-size: cover;
		@include mq(sm) {
			background-image: url('../../assets/holiday-promotion/carousel01-mob.jpg');
		}
		@include mq(md) {
			background-image: url('../../assets/holiday-promotion/carousel01-mob-md.jpg');
		}
		@include mq(lg) {
			background-image: url('../../assets/holiday-promotion/carousel01-mob-lg.jpg');
		}
		@media (min-width: 1440px) {
			background-image: url('../../assets/holiday-promotion/carousel01-mob-xl.jpg');
		}
		@media (min-width: 1920px) {
			background-image: url('../../assets/holiday-promotion/carousel01-mob-xxl.jpg');
		}
	}
	&.slide-two {
		background-size: cover;
		@include mq(sm) {
			background-image: url('../../assets/holiday-promotion/carousel04-mob.jpg');
		}
		@include mq(md) {
			background-image: url('../../assets/holiday-promotion/carousel04-mob-md.jpg');
		}
		@include mq(lg) {
			background-image: url('../../assets/holiday-promotion/carousel04-mob-lg.jpg');
		}
		@media (min-width: 1440px) {
			background-image: url('../../assets/holiday-promotion/carousel04-mob-xl.jpg');
		}
		@media (min-width: 1920px) {
			background-image: url('../../assets/holiday-promotion/carousel04-mob-xxl.jpg');
		}
	}
	.swiper-slide {
		&.one {
			background-image: url('../../assets/holiday-promotion/carousel01-mob-vp.jpg');
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/carousel01-mob-vp-sm.jpg');
			}
			@include mq(md) {
				background-image: url('../../assets/holiday-promotion/carousel01-mob-vp-md.jpg');
			}
			@include mq(lg) {
				background-image: url('../../assets/holiday-promotion/carousel01-mob-vp-lg.jpg');
			}
		}
		&.two {
			background-image: url('../../assets/holiday-promotion/carousel02-alt.jpg');
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 33%;
				@include filter-gradient(#ffffff, #00ffffff, vertical); // IE6-9
				@include background-image(linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,.8) 70%,rgba(255,255,255,0) 100%));
				z-index: 2;
			}
			h2, p {
				position: relative;
				z-index: 3;
			}
		}
		&.three {
			background-image: url('../../assets/holiday-promotion/carousel03-mob.png');
		}
		&.four {
			background-image: url('../../assets/holiday-promotion/carousel04-mob-vp.jpg');
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/carousel04-sm.jpg');
			}
			@include mq(md) {
				background-image: url('../../assets/holiday-promotion/carousel04-mob-vp-md.jpg');
			}
			@include mq(lg) {
				background-image: url('../../assets/holiday-promotion/carousel04-mob-vp-lg.jpg');
			}
		}
	}
}

#value-props-deux {
	.slide-content {
		@include mq(md) {
			float: right;
		}
	}
	@include mq(xsm) {
		display: none;
	}
	&.slide-one {
		background-size: cover;
		@include mq(sm) {
			background-image: url('../../assets/holiday-promotion/carousel03-mob-sm.png');
		}
		@include mq(md) {
			background-image: url('../../assets/holiday-promotion/carousel03-mob-md.png');
		}
		@include mq(lg) {
			background-image: url('../../assets/holiday-promotion/carousel03-mob-lg.png');
		}
		@media (min-width: 1440px) {
			background-image: url('../../assets/holiday-promotion/carousel03-mob-xl.png');
		}
		@media (min-width: 1920px) {
			background-image: url('../../assets/holiday-promotion/carousel03-mob-xxl.png');
		}
	}
	&.slide-two {
		background-size: cover;
		@include mq(sm) {
			background-image: url('../../assets/holiday-promotion/carousel02-alt.jpg');
		}
		@include mq(md) {
			background-image: url('../../assets/holiday-promotion/carousel02-alt-md.jpg');
		}
		@include mq(lg) {
			background-image: url('../../assets/holiday-promotion/carousel02-alt-lg.jpg');
		}
		@media (min-width: 1440px) {
			background-image: url('../../assets/holiday-promotion/carousel02-alt-xl.jpg');
		}
		@media (min-width: 1920px) {
			background-image: url('../../assets/holiday-promotion/carousel02-alt-xxl.jpg');
		}
	}
	.swiper-slide {
		&.one {
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/carousel03.jpg');
			}
			@include mq(md) {
				background-image: url('../../assets/holiday-promotion/carousel03-md.jpg?&w=810&h=950');
			}
			@include mq(lg) {
				background-image: url('../../assets/holiday-promotion/carousel03-lg.jpg');
			}
		}
		&.two {
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/carousel02-alt-vp-sm.jpg');
			}
			@include mq(md) {
				background-image: url('../../assets/holiday-promotion/carousel02-alt-vp-md.jpg');
			}
			@include mq(lg) {
				background-image: url('../../assets/holiday-promotion/carousel02-alt-vp-lg.jpg');
			}
		}
	}
}

.know-us {
	background-color: #80bcde;
	padding-top: 15px;
	@include mq(md) {
		padding-top: 30px;
	}
	@include mq(lg) {
		padding-top: 45px;
	}
	.row > div {
		@include mq(xssm) {
			width: 60%;
			margin-left: 20%;
		}
	}
	h2 {
		color: $white;
		text-shadow: 0 0 15px rgba(11,40,54,.4);
	}
	a {
		display: block;
		background-size: contain;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		padding-bottom: 45%;
		position: relative;
		margin: 0 10px;
		cursor: pointer;
		@include mq(sm) {
			padding-bottom: 0;
			height: 240px;
			background-size: 400px;
		}
		@include mq(md) {
			background-size: 550px;
			height: 318px;
		}
		@include mq(lg) {
			height: 330px;
		}
		&.pic {
			&::before {
				background-color: #93bdd8;
			}
		}
		&.lazyloaded {
			background-image: url('../../assets/holiday-promotion/explainer-video.jpg');
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/explainer-video-sm.jpg');
			}
			@include mq(md) {
				background-image: url('../../assets/holiday-promotion/explainer-video-md.jpg');
			}
		}
	}
	.play {
		background-color: #f72351;
		display: inline-block;
		pointer-events: none;
	}
}

.financing {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 45px;
	background-size: cover;
	background-position: 50% 50%;
	@include mq(smmd) {
		padding-bottom: 30px;
	}
	&.lazyloaded {
		background-image: url('../../assets/holiday-promotion/texture.jpg');
		@include mq(sm) {
			background-image: url('../../assets/holiday-promotion/texture-sm.jpg');
		}
		@include mq(lg) {
			background-image: url('../../assets/holiday-promotion/texture-lg.jpg');
		}
	}
	.row {
		@include mq(sm) {
			display: flex;
			align-items: center;
		}
	}
	.content {
		@include mq(lg) {
			max-width: 585px;
			float: right;
		}
	}
	.mattress-pic {
		background-size: 95%;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		padding-bottom: 34%;
		@include mq(xs) {
			background-size: 75%;
			padding-bottom: 25%;
		}
		@include mq(sm) {
			background-size: 500px;
			background-position: 30px 80px;
			padding-bottom: 0;
			height: 290px;
		}
		@include mq(md) {
			background-size: 570px;
			background-position: 30px 110px;
			height: 350px;
		}
		@include mq(lg) {
			background-size: auto;
			background-position: 30px 140px;
			height: 430px;
		}
		&.lazyloaded {
			background-image: url('../../assets/holiday-promotion/mattress.png');
			@include mq(sm) {
				background-image: url('../../assets/holiday-promotion/mattress-sm.png');
			}
			@include mq(lg) {
				background-image: url('../../assets/holiday-promotion/mattress-lg.png');
			}
		}
	}
	h3 {
		font-size: 7.5rem;
		color: #7eaac7;
		margin: 0;
		line-height: 1;
		@include mq(sm) {
			font-size: 10rem;
			margin-top: 30px;
		}
		@include mq(md) {
			font-size: 12.5rem;
			margin-top: 45px;
		}
		@include mq(lg) {
			font-size: 15rem;
			margin-top: 60px;
			max-width: 585px;
		}
		span {
			font-size: 25%;
		}
		sup {
			font-size: 60%;
		}
	}
	p {
		margin-bottom: 10px;
		@include mq(sm) {
			margin-top: 15px;
			margin-bottom: 30px;
		}
		@include mq(lg) {
			margin-top: 30px;
			margin-bottom: 45px;
		}
	}
	.btn {
		border: solid 2px #7eaac7;
		box-shadow: none;
		&:hover, &:focus {
			background-color: rgba(#fff, .6);
			color: $navy;
		}
	}
}


.size-guide {
	.panel-heading {
		padding: 0;
	}
	.panel-title {
		background-color: $teal;
		font-size: 1.5rem;
		color: $white;
		@include mq(sm) {
			font-size: 2rem;
		}
		@include mq(md) {
			font-size: 2.5rem;
		}
		@include mq(lg) {
			font-size: 3rem;
		}
		> div {
			position: relative;
			display: block;
			color: $white;
			text-align: center;
			padding: 30px 15px;
			span {
				display: inline-block;
				width: 15px;
				height: 9px;
				@include arrow-thin($white);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				transition: .2s;
				margin: 0 0 1px 5px;
				@include mq(sm) {
					margin: 0 0 2px 5px;
				}
				@include mq(md) {
					margin: 0 0 4px 8px;
				}
				@include mq(lg) {
					width: 20px;
					height: 12px;
				}
			}
			&[aria-expanded='true'] {
				span {
					transform: rotate(180deg);
					transition: .2s;
				}
			}
		}
	}
	.panel-group {
		margin-bottom: 0;
	}
	.panel-body {
		background-color: $white;
		padding: 15px 30px;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 30px;
			right: 30px;
			height: 1px;
			background-color: $teal;
			@include mq(lg) {
				width: 1170px;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
			}
		}
		.row {
			@include mq(lg) {
				max-width: 1170px;
				margin: 0 auto;
			}
		}
		.panel-heading {
			padding: 2px 15px 0 0;
		}
	}
	p {
		text-align: left;
	}
}

.diy {
	text-align: center;
	padding: 15px 15px 30px 15px;
	background-color: $white;
	@include mq(sm) {
		padding: 30px 15px;
	}
	@include mq(lg) {
		padding-top: 45px;
		padding-bottom: 60px;
	}
	> div {
		max-width: 1240px;
		margin: 0 auto;
	}
	.row > div {
		@include mq(xssm) {
			width: 50%;
		}
	}
	.icon {
		@extend %svg;
		height: 0;
		padding-bottom: 50%;
		margin: 15px 0;
		@include mq(sm) {
			float: left;
			width: 15%;
			margin: 15px 30px 0 0;
			padding-bottom: 0;
			height: 100px;
		}
		@include mq(md) {
			margin-right: 45px;
		}
		@include mq(lg) {
			height: 120px;
		}
		&.phone {
			@include lull-smartphone($navy);
			transform: rotate(-7deg);
		}
		&.door {
			@include lull-box-at-door($navy);
			@include mq(mdlg) {
				height: 110px;
			}
		}
		&.setup {
			@include lull-unboxing($navy);
			@include mq(md) {
				height: 120px;
			}
			@include mq(lg) {
				height: 144px;
			}
		}
		&.snooze {
			@include lull-snooze($navy);
		}
	}
	h3 {
		font-size: 2.2rem;
		font-weight: 900;
		color: $navy;
		margin: 15px 0 10px 0;
		@include mq(sm) {
			text-align: left;
		}
		@include mq(lg) {
			margin: 30px 0 10px 0;
		}
	}
	p {
		@include mq(sm) {
			text-align: left;
			margin: 5px 20px 15px 20px;
			line-height: 1.4;
		}
	}
} 


// Review carousel
.reviews {
	text-align: center;
	background-color: #f7f6f4;
	padding-top: 30px;
	padding-bottom: 45px;
	@include mq(lg) {
		padding-top: 45px;
	}
	.container {
		@include mq(xssm) {
			width: 66%;
		}
	}
	h5 {
		font-size: 1.8rem;
		color: $navy;
		line-height: 1;
		margin: 0;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		@include mq(xssm) {
			font-size: 1.7rem;
		}
	}
	h6 {
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		font-size: 1.5rem;
		font-weight: 500;
		text-align: right;
		padding-top: 15px;
		margin: 0 0 20px 0;
		line-height: 1;
	}
	.swiper-container-reviews {
		padding-bottom: 30px;
		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 30px;
			z-index: 10;
		}
		&::before {
			@include background-image(linear-gradient(to right, rgba(247,246,244,1) 0%,rgba(247,246,244,0) 100%));
			left: 0;
		}
		&::after {
			@include background-image(linear-gradient(to right, rgba(247,246,244,0) 0%,rgba(247,246,244,1) 100%));
			right: 0;
		}
		.swiper-slide {
			padding-left: 15px;
			padding-right: 15px;
			@include mq(sm) {
				padding-left: 7px;
				padding-right: 7px;
			}
			&:focus {
				outline: none;
			}
		}
	}
	// .swiper-pagination {
	.swiper-horizontal>.swiper-pagination-bullets {
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			margin: 0 5px;
			&:focus {
				outline: 0;
			}
			&-active {
				background-color: #000;
				opacity: .4;
			}
		}
	}
	.item {
		background-color: $white;
		padding: 15px 30px 50px 30px;
		border-radius: 8px;
		position: relative;
		box-shadow: 0px 4px 8px rgba($navy, .1);
		transition: .2s;
		margin-bottom: 5px;
		@include mq(lg) {
			padding: 15px 30px 50px 30px;
		}
		p {
			font-size: 1.3rem;
			color: #666;
			line-height: 1.4;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 50%;
			-ms-transform: translateY(-50%);		
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			text-align: left;
			@include mq(lg) {
				font-size: 1.6rem;
			}
			&.x2 {
				font-size: 1.6rem;
				@include mq(lg) {
					font-size: 1.7rem;
				}
			}
			&.x3 {
				font-size: 1.9rem;
				line-height: 1.2;
				@include mq(lg) {
					font-size: 2rem;
				}
			}
		}
	}
	.stars {
		height: 20px;
		width: 125px;
		margin: 5px auto 10px auto;
		background-repeat: repeat-x;
		background-size: 25px 20px;
		@include star($pink);
	}
	.review-title {
		position: relative;
		min-height: 45px;
		@include mq(xssm) {
			min-height: 30px;
		}
	}
	.review {
		min-height: 150px;
		position: relative;
		@media (min-width: 400px) {
			min-height: 110px;
		}
		@media (min-width: 640px) {
			min-height: 120px;
		}
	}
}

.media-collage {
	padding-bottom: 30px;
	.container {
		@include mq(xssm) {
			width: 568px;
		}
		@media (min-width: 1600px) {
			width: 1440px;
		}
		@media (min-width: 1920px) {
			width: 1860px;
		}
	}
	div[class^='collage'] {
		background-size: cover;
		border-radius: 6px;
		&.sq {
			padding-bottom: 80%;
		}
		&.tall {
			height: 100%;
		}
		.play {
			background-color: rgba(0,0,0,.5);
			transition: .3s;
			&:hover, &:focus {
				background-color: rgba($teal, .75);
			}
		}
	}
	.collection {
		@include mq(xssm) {
			width: 50%;
		}
		&:nth-of-type(1) {
			@include mq(xslg) {
				padding-right: 7px;
			}
			@include mq(mdlg) {
				padding-left: 7px;
			}
		}
		&:nth-of-type(2) {
			@include mq(xslg) {
				padding-left: 7px;
			}
			@include mq(mdlg) {
				padding-right: 7px;
			}
		}
		&:nth-of-type(3) {
			@include mq(xsmd) {
				display: none;
			}
			@include mq(mdlg) {
				padding-left: 7px;
				padding-right: 7px;
			}
		}
	}
	.group {
		display: flex;
		margin-bottom: 14px;
		@include mq(lg) {
			margin-bottom: 0;
		}
	}
	.col-1 {
		@include mq(xlg) {
			padding-right: 7px;
		}
	}
	.col-2 {
		@include mq(xlg) {
			padding-left: 7px;
		}
	}
	.collage {
		&1 {
			margin-bottom: 14px;
			@include mq(lg) {
				margin-bottom: 30px;
			}
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage01.jpg');
			}
		}
		&2 {
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage02.jpg');
			}
		}
		&3 {
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage03.jpg');
			}
		}
		&4 {
			padding-bottom: 37.75%;
			margin-bottom: 14px;
			@include mq(sm) {
				padding-bottom: 38.5%;
			}
			@include mq(md) {
				padding-bottom: 38%;
			}
			@include mq(lg) {
				margin-bottom: 30px;
				padding-bottom: 36.5%;
			}
			@media (min-width: 1600px) {
				padding-bottom: 37.25%;
			}
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage04.jpg');
			}
		}
		&5 {
			margin-bottom: 14px;
			@include mq(lg) {
				margin-bottom: 0;
			}
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage05.jpg');
			}
		}
		&6 {
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage06.jpg');
			}
		}
		&7 {
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage07.jpg');
			}
		}
		&8 {
			margin-bottom: 14px;
			@include mq(lg) {
				margin-bottom: 30px;
			}
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage08.jpg');
			}
		}
		&9 {
			&.lazyloaded {
				background-image: url('../../assets/holiday-promotion/collage09.jpg');
			}
		}
	}
}

.footer {
	text-align: center;
	background-color: $white;
	padding-top: 30px;
	@include mq(lgd) {
		padding-top: 45px;
	}
	.btn {
		margin: 15px auto 30px auto;
		@include mq(md) {
			margin: 30px auto 45px auto;
		}
	}
	ul {
		padding: 0 0 15px 0;
		margin: 0;
	}
	li {
		display: inline-flex;
		text-align: center;
		padding: 0 15px;
		font-size: 1.2rem;
		@include mq(lg) {
			font-size: 1.4rem;
		}
		a {
			color: #666;
			border-bottom: solid 1px transparent;
			transition: .2s;
			&:hover, &:focus {
				border-bottom-color: #666;
			}
		}
	}
}

// SVG
.play {
	cursor: pointer;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	@include play($white);
	background-position: 55% 50%;
	background-size: 17px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	@include mq(lg) {
		width: 90px;
		height: 90px;
		background-size: 32px;
	}
}