/* When editing, use the source file for this page in client/resources/sass */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Cabin+Condensed:wght@400;500&display=swap");
.color[data-color=WP], .color[data-color=CD] {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.quantity-select,
.color-select,
.product-selection .type-select {
  position: relative;
  padding: 0 0 15px 0;
  text-align: center;
  border-bottom: solid 1px #dfdcd7;
  vertical-align: top;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
@media (max-width: 767px) {
  .quantity-select,
  .color-select,
  .product-selection .type-select {
    padding: 0 0 2.6408450704vw 0;
    margin: 0 0 3.5211267606vw 0;
  }
}
@media (max-width: 543px) {
  .quantity-select,
  .color-select,
  .product-selection .type-select {
    padding: 0 0 4.6875vw 0;
    margin: 0 0 6.25vw 0;
  }
}
.quantity-select::after,
.color-select::after,
.product-selection .type-select::after {
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  text-align: center;
  line-height: 1;
  font-size: 1.3rem;
  background-color: #f7f5f3;
  padding: 0 5px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .quantity-select::after,
  .color-select::after,
  .product-selection .type-select::after {
    font-size: 2.2887323944vw;
    bottom: -1.2323943662vw;
  }
}
@media (max-width: 543px) {
  .quantity-select::after,
  .color-select::after,
  .product-selection .type-select::after {
    font-size: 4.0625vw;
    bottom: -2.1875vw;
  }
}

.quantity-select, .type-select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.quantity-select.inline, .type-select.inline {
  width: calc(66.6666667% - 4px);
  margin-left: 11px;
}

.product-selection .type-select.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.quantity-select::after {
  content: "Qty.";
}
.quantity-select li {
  display: inline-block;
  list-style: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0b2836;
  line-height: 30px;
  width: 30px;
  padding: 0 0 28px 0;
  background-color: #fff;
  margin: 0 10px 0 0;
  height: 0;
  border-radius: 4px;
  border: solid 1px #dfdcd7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
@media (max-width: 767px) {
  .quantity-select li {
    font-size: 2.6408450704vw;
    width: 5.2816901408vw;
    padding-bottom: 4.9295774648vw;
    margin: 0 1.7605633803vw 0 0;
    line-height: 5.2816901408vw;
  }
}
@media (max-width: 543px) {
  .quantity-select li {
    font-size: 4.6875vw;
    width: 9.375vw;
    padding-bottom: 8.75vw;
    margin: 0 3.125vw 0 0;
    line-height: 9.375vw;
  }
}
@media (min-width: 992px) {
  .quantity-select li {
    margin: 0 10px 0 0;
    width: 40px;
    padding-bottom: 38px;
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  .quantity-select li {
    font-size: 1.8rem;
  }
}
.quantity-select li:last-of-type {
  margin-right: 0;
}
.quantity-select li[data-active=true] {
  background-color: #0b2836;
  color: #ffffff;
}
.quantity-select li[data-active=true] span {
  background: #0b2836;
  border-color: #0b2836;
  color: #ffffff;
}
.quantity-select li[data-active=true] span::after {
  border: 3px solid #0b2836;
  width: 42px;
  width: 13.125vw;
  height: 42px;
  height: 13.125vw;
  top: -2px;
  top: -0.625vw;
  left: -2px;
  left: -0.625vw;
}
@media (min-width: 544px) {
  .quantity-select li[data-active=true] span::after {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .quantity-select li[data-active=true] span::after {
    width: 6.6901408451vw;
    height: 6.6901408451vw;
  }
}
@media (min-width: 992px) {
  .quantity-select li[data-active=true] span::after {
    width: 44px;
    height: 44px;
  }
}
.quantity-select li:hover, .quantity-select li:focus {
  color: #ffffff;
  background-color: #0b2836;
  outline-color: #56dbd6;
  outline-offset: 1px;
}
.quantity-select li::before {
  border-radius: 4px;
}
.quantity-select li[data-active=true]::before, .quantity-select li:hover::before, .quantity-select li:focus::before {
  border-radius: 6px;
}

.color-select {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.color-select::after {
  content: attr(data-active-color);
}
.color-select.inline {
  width: calc(33.3333333% - 7px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 767px) {
  .color-select.inline {
    padding-left: 1.4084507042vw;
    padding-right: 1.4084507042vw;
  }
}
@media (max-width: 543px) {
  .color-select.inline {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}
@media (min-width: 992px) {
  .color-select.inline {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.color-select.inline .color {
  width: 30px;
  height: 30px;
}
@media (max-width: 767px) {
  .color-select.inline .color {
    width: 5.2816901408vw;
    height: 5.2816901408vw;
  }
}
@media (max-width: 543px) {
  .color-select.inline .color {
    width: 9.375vw;
    height: 9.375vw;
  }
}
@media (min-width: 768px) {
  .color-select.inline .color {
    width: 40px;
    height: 40px;
  }
}
.color-select label {
  width: calc(33.3333333% + 3px);
}

li.color,
.quantity-select li,
.product-selection .type-select li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
li.color::before,
.quantity-select li::before,
.product-selection .type-select li::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: solid 2px #f7f5f3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
li.color[data-active=true]::before, li.color:hover::before, li.color:focus::before,
.quantity-select li[data-active=true]::before,
.quantity-select li:hover::before,
.quantity-select li:focus::before,
.product-selection .type-select li[data-active=true]::before,
.product-selection .type-select li:hover::before,
.product-selection .type-select li:focus::before {
  border-color: #dfdcd7;
  border-color: #a3a3a3;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.color {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  position: relative;
  list-style-type: none;
  border: solid 1px #ccc;
}
@media (max-width: 767px) {
  .color {
    width: 5.6338028169vw;
    height: 5.6338028169vw;
  }
}
@media (max-width: 543px) {
  .color {
    width: 10vw;
    height: 10vw;
  }
}
@media (min-width: 768px) {
  .color {
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 992px) {
  .color {
    width: 46px;
    height: 46px;
  }
}
.color::before {
  border-radius: 50%;
}
.color[data-active=true]::before, .color:hover::before, .color:focus::before {
  border-radius: 50%;
}
.color[data-color=BW] {
  background-color: #edf1ff;
  border-color: #bec1cc;
}
.color[data-color=CS] {
  background-color: #615f5f;
  border-color: #4e4c4c;
}
.color[data-color=CD] {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027.28%2028.17%22%3E%3Ccircle%20cx%3D%2219.4%22%20cy%3D%2213.65%22%20r%3D%225.52%22%20fill%3D%22rgb(192%2C194%2C196)%22%2F%3E%3Cpath%20d%3D%22M259.1%2C279.9a5.53%2C5.53%2C0%2C1%2C0%2C8.43%2C0Z%22%20transform%3D%22translate(-255.99%20-279.9)%22%20fill%3D%22rgb(192%2C194%2C196)%22%2F%3E%3Cpath%20d%3D%22M283.27%2C304.11a5.52%2C5.52%2C0%2C0%2C0-10%2C3.16%2C5.16%2C5.16%2C0%2C0%2C0%2C.07.79h10Z%22%20transform%3D%22translate(-255.99%20-279.9)%22%20fill%3D%22rgb(192%2C194%2C196)%22%2F%3E%3Ccircle%20cx%3D%225.52%22%20cy%3D%2222.65%22%20r%3D%225.52%22%20fill%3D%22rgb(192%2C194%2C196)%22%2F%3E%3C%2Fsvg%3E");
  border-color: #909193;
  background-size: 105%;
}
.color[data-color=DS] {
  background-color: #cdc6bd;
  border-color: #a49e97;
}
.color[data-color=GG] {
  background-color: #615f5f;
  border-color: #4e4c4c;
}
.color[data-color=GR] {
  background-color: #ccc;
  border-color: #a3a3a3;
}
.color[data-color=MB] {
  background-color: #cdc6bd;
  border-color: #a49e97;
}
.color[data-color=PA] {
  background-color: #bfcad6;
  border-color: #99a2ab;
}
.color[data-color=QG] {
  background-color: #babbbd;
  border-color: #959697;
}
.color[data-color=WH] {
  background-color: #ffffff;
  border: solid 1px #dfdcd7;
}
.color[data-color=WP] {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027.02%2028.02%22%3E%3Cpolygon%20points%3D%2227.02%2013.01%2024.02%2013.01%2024.02%200%2022.02%200%2022.02%2013.01%2014.51%2013.01%2014.51%200%2012.51%200%2012.51%2013.01%205%2013.01%205%200%203%200%203%2013.01%200%2013.01%200%2015.01%203%2015.01%203%2028.02%205%2028.02%205%2015.01%2012.51%2015.01%2012.51%2028.02%2014.51%2028.02%2014.51%2015.01%2022.02%2015.01%2022.02%2028.02%2024.02%2028.02%2024.02%2015.01%2027.02%2015.01%2027.02%2013.01%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3C%2Fsvg%3E");
  border-color: #4d4d4d;
  background-size: 105%;
}
.color:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #a3a3a3;
          box-shadow: 0 0 0 1px #a3a3a3;
}

.product-selection .type-select {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-selection .type-select[data-label=true]::after {
  content: attr(data-active-type);
}
.product-selection .type-select[data-label=false] {
  border: none;
}
.product-selection .type-select li {
  width: calc(50% - 6px);
  position: relative;
  list-style-type: none;
  background-size: 100%;
  background-position: 50% 50%;
  border-radius: 6px;
  border: solid 1px #ccc;
}
.product-selection .type-select li:focus {
  outline: none;
}
.product-selection .type-select li::before {
  border-radius: 8px;
}
.product-selection .type-select li span, .product-selection .type-select li label {
  line-height: 1.15;
  font-weight: 700;
}
.product-selection .type-select li span {
  font-size: 1.4rem;
  display: block;
  color: #0b2836;
}
@media (max-width: 767px) {
  .product-selection .type-select li span {
    font-size: 2.4647887324vw;
  }
}
@media (max-width: 543px) {
  .product-selection .type-select li span {
    font-size: 4.375vw;
  }
}
@media (min-width: 992px) {
  .product-selection .type-select li span {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .product-selection .type-select li span {
    font-size: 1.8rem;
  }
}
.product-selection .type-select li label {
  font-size: 1.2rem;
  color: #666;
}
@media (max-width: 767px) {
  .product-selection .type-select li label {
    font-size: 2.1126760563vw;
  }
}
@media (max-width: 543px) {
  .product-selection .type-select li label {
    font-size: 3.75vw;
  }
}
@media (min-width: 992px) {
  .product-selection .type-select li label {
    font-size: 1.4rem;
  }
}
.product-selection .type-select.inline li {
  height: 30px;
}
@media (max-width: 767px) {
  .product-selection .type-select.inline li {
    height: 5.2816901408vw;
  }
}
@media (max-width: 543px) {
  .product-selection .type-select.inline li {
    height: 9.375vw;
  }
}
@media (min-width: 768px) {
  .product-selection .type-select.inline li {
    height: 40px;
  }
}
.product-selection[data-order=reverse] .type-select {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .product-selection[data-order=reverse] .type-select {
    margin-bottom: 0.8802816901vw;
  }
}
@media (max-width: 543px) {
  .product-selection[data-order=reverse] .type-select {
    margin-bottom: 1.5625vw;
  }
}
@media (min-width: 1200px) {
  .product-selection[data-order=reverse] .type-select {
    margin-bottom: 10px;
  }
}
.product-selection[data-order=reverse][data-comparison-accordion=true] .type-select {
  margin: 0;
  padding: 0;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: solid 3px transparent;
  border-top: none;
  border-right: none;
  position: absolute;
  left: 50%;
  bottom: 5px;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li[data-active=true]::after {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-color: #0b2836;
  bottom: -3px;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li:first-of-type {
  border-bottom-left-radius: 0;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li:first-of-type::before {
  border-bottom-left-radius: 0;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li:last-of-type {
  border-bottom-right-radius: 0;
}
.product-selection[data-order=reverse][data-comparison-accordion-active=true] .type-select li:last-of-type::before {
  border-bottom-right-radius: 0;
}

.product-selection .color-select[data-active-color="Cold Stone"] + .type-select li[data-type=UU] {
  background-image: url("./frame/swatch-UU-CS.jpg?w=286&h=84&fp-y=0");
}
.product-selection .color-select[data-active-color="Cold Stone"] + .type-select li[data-type=TU] {
  background-image: url("./frame/swatch-TU-CS.jpg?w=286&h=84&fp-y=0");
}
.product-selection .color-select[data-active-color="Desert Sand"] + .type-select li[data-type=UU] {
  background-image: url("./frame/swatch-UU-DS.jpg?w=286&h=84&fp-y=0");
}
.product-selection .color-select[data-active-color="Desert Sand"] + .type-select li[data-type=TU] {
  background-image: url("./frame/swatch-TU-DS.jpg?w=286&h=84&fp-y=0");
}

main[data-active-size=TW] .type-select label:not([data-active-size=TW]) {
  display: none;
}
main[data-active-size=TX] .type-select label:not([data-active-size=TX]) {
  display: none;
}
main[data-active-size=FL] .type-select label:not([data-active-size=FL]) {
  display: none;
}
main[data-active-size=QU] .type-select label:not([data-active-size=QU]) {
  display: none;
}
main[data-active-size=KG] .type-select label:not([data-active-size=KG]) {
  display: none;
}
main[data-active-size=CK] .type-select label:not([data-active-size=CK]) {
  display: none;
}