.product-gallery[data-type=MA] .slide-1 {
  background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=840&fp-y=.53&fp-z=1.5");
}
@media (min-width: 992px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1200&fp-y=.53&fp-z=1.5");
  }
}
@media (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=720&fp-y=.53&fp-z=1.5");
  }
}
@media (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=800&fp-y=.53&fp-z=1.5");
  }
}
@media (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=960&fp-y=.53&fp-z=1.5");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1200px), (min-resolution: 1.25dppx) and (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1440&fp-y=.53&fp-z=1.5");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1440px), (min-resolution: 1.25dppx) and (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1600&fp-y=.53&fp-z=1.5");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1600px), (min-resolution: 192dpi) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1600px), (min-resolution: 1.25dppx) and (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-1,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(1) {
    background-image: url("./original-premium-carousel-01.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1920&fp-y=.53&fp-z=1.5");
  }
}
.product-gallery[data-type=MA] .slide-2.lazyloaded {
  background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=840&fp-z=1.4&fp-y=.57&fp-x=.45");
}
@media (min-width: 992px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1200&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=720&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=800&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=960&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1200px), (min-resolution: 1.25dppx) and (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1440&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1440px), (min-resolution: 1.25dppx) and (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1600&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1600px), (min-resolution: 192dpi) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1600px), (min-resolution: 1.25dppx) and (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-2.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(2) {
    background-image: url("./original-premium-carousel-02.jpg?auto=format,compress&q=50&fit=crop&crop=focalpoint&w=1920&fp-z=1.4&fp-y=.57&fp-x=.48");
  }
}
.product-gallery[data-type=MA] .slide-3.lazyloaded {
  background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=840");
}
@media (min-width: 992px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=1200");
  }
}
@media (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=720");
  }
}
@media (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=800");
  }
}
@media (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=960");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1200px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1200px), (min-resolution: 1.25dppx) and (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=1440");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1440px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1440px), (min-resolution: 1.25dppx) and (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=1600");
  }
}
@media (min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), (-o-min-device-pixel-ratio: 2/1) and (min-width: 1600px), (min-resolution: 192dpi) and (min-width: 1600px), (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1600px), (-o-min-device-pixel-ratio: 5/4) and (min-width: 1600px), (min-resolution: 1.25dppx) and (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-3.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(3) {
    background-image: url("./original-premium-carousel-03.jpg?auto=format,compress&q=50&w=1920");
  }
}
.product-gallery[data-type=MA] .slide-4.lazyloaded {
  background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=840");
}
@media (min-width: 992px) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=1200");
  }
}
@media (min-width: 1200px) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=720");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 1.25), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1200px) and (-o-min-device-pixel-ratio: 5/4), (min-width: 1200px) and (min-resolution: 1.25dppx) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=1440");
  }
}
@media (min-width: 1440px) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=800");
  }
}
@media (min-width: 1440px) and (min-device-pixel-ratio: 1.25), (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 1440px) and (min-resolution: 192dpi), (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1440px) and (-o-min-device-pixel-ratio: 5/4), (min-width: 1440px) and (min-resolution: 1.25dppx) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=1600");
  }
}
@media (min-width: 1600px) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=960");
  }
}
@media (min-width: 1600px) and (min-device-pixel-ratio: 1.25), (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1600px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 1600px) and (min-resolution: 192dpi), (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1600px) and (-o-min-device-pixel-ratio: 5/4), (min-width: 1600px) and (min-resolution: 1.25dppx) {
  .product-gallery[data-type=MA] .slide-4.lazyloaded,
.product-gallery[data-type=MA] .swiper-pagination-bullet:nth-of-type(4) {
    background-image: url("./opm-carousel-04.jpg?auto=format,compress&q=50&w=1920");
  }
}