/* When editing, use the source file for this page in client/resources/sass */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Cabin+Condensed:wght@400;500&display=swap");
.email h4 .any-size::after, .faq-question .icon, .reviews-carousel h4[data-source-type=social]::after, .nav li a::before, .slideshow-pagination .slideshow-btn {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.embed-container {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  font-size: 5vW;
  color: #fff;
  background-color: #f72351;
  background-color: #e5204b;
  outline: 0;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  letter-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 480px) {
  .btn {
    font-size: 2.8169vW;
  }
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .btn {
    border-radius: 8px;
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 22px;
  }
}
.btn:hover, .btn:focus {
  background-color: #ef224e;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn:focus {
  outline: none;
  padding-top: 17px;
  padding-bottom: 13px;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35) inset;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35) inset;
}
@media (min-width: 992px) {
  .btn:focus {
    padding-top: 20px;
    padding-bottom: 16px;
  }
}
.btn:active {
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn.disabled {
  pointer-events: none;
}

.btn-dark {
  background-color: #0b2836;
}
.btn-dark.disabled {
  background-color: #3c535e;
  border-color: #3c535e;
  color: #d9d8d6;
}
.btn-dark:hover, .btn-dark:focus {
  background-color: #143e4a;
}

.btn-outline {
  background-color: #fff;
  border: solid 2px #0b2836;
  color: #0b2836;
}
.btn-outline:hover, .btn-outline:focus {
  background-color: #fff;
  color: #0b2836;
}

.btn-teal {
  background-color: #6ac9ca;
}
.btn-teal:hover, .btn-teal:focus {
  background-color: #56dbd6;
}

.btn-green {
  background-color: #3ec286;
}
.btn-green:hover, .btn-green:focus {
  background-color: #38af79;
}

.btn-transparent {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 1px #0b2836 inset;
          box-shadow: 0 0 0 1px #0b2836 inset;
  color: #0b2836;
}
.btn-transparent:hover, .btn-transparent:focus {
  background-color: #0b2836;
  color: #fff;
}

.btn-semi-transparent {
  background-color: rgba(11, 40, 54, 0.3);
  border: solid 2px #ffffff;
  color: #ffffff;
  text-shadow: 0 0 6px #0b2836;
}
.btn-semi-transparent:hover, .btn-semi-transparent:focus {
  background-color: rgba(11, 40, 54, 0.4);
}

.btn-white {
  background-color: #ffffff;
  border-color: #d9d8d6;
  color: #0b2836;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background-color: #ffffff;
  color: #0b2836;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-sm {
  font-size: 13px;
  border-radius: 4px;
  padding: 4px 0 1px 0;
  border: solid 1px #f72351;
  font-weight: 500;
}
@media (max-width: 479px) {
  .btn-sm {
    font-size: 4.0625vw;
    padding: 1.25vw 0 0.3125vw 0;
  }
}
.btn-sm:focus {
  padding: 4px 0 1px 0;
}
@media (max-width: 479px) {
  .btn-sm:focus {
    padding: 1.25vw 0 0.3125vw 0;
  }
}
.btn-sm.btn-dark {
  border-color: #0b2836;
}
.btn-sm.btn-dark:hover, .btn-sm.btn-dark:focus, .btn-sm.btn-dark:active {
  background-color: #3c535e;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-sm.btn-white {
  background-color: #ffffff;
  border-color: #d9d8d6;
  color: #0b2836;
}
.btn-sm.btn-white:hover, .btn-sm.btn-white:focus, .btn-sm.btn-white:active {
  background-color: #ffffff;
  color: #0b2836;
}
.btn-sm.btn-white:focus:not([aria-expanded=true]) {
  border-color: #989796;
}

.btn-md {
  border-radius: 4px;
  padding: 10px 0 8px 0;
}
@media (max-width: 479px) {
  .btn-md {
    padding: 3.125vw 0 2.5vw 0;
  }
}
.btn-md:focus {
  padding: 11px 0 9px 0;
}
@media (max-width: 479px) {
  .btn-md:focus {
    padding: 3.4375vw 0 2.8125vw 0;
  }
}

.block {
  display: block;
}

main, nav, footer {
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 1922px) {
  main, nav, footer {
    max-width: 1922px;
    border-left: solid 1px #efede9;
    border-right: solid 1px #efede9;
  }
}

.faq-question .icon.logo, .nav li a[data-target=cta]::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20232.77%20233.04%22%3E%3Crect%20width%3D%22232.77%22%20height%3D%22233.04%22%20fill%3D%22rgb(11%2C40%2C54)%22%2F%3E%3Cpath%20d%3D%22M553.94%2C460v-4.78c-5.53%2C0-7.77-1.28-7.77-6.81V393.44h-5.32v54.83c0%2C9.47%2C4.37%2C12.24%2C13.09%2C11.7%22%20transform%3D%22translate(-479.29%20-288.04)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M630.22%2C460v-4.78c-5.53%2C0-7.77-1.28-7.77-6.81V393.44h-5.32v54.83c0%2C9.47%2C4.36%2C12.24%2C13.09%2C11.7%22%20transform%3D%22translate(-479.29%20-288.04)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M651.39%2C460v-4.78c-5.53%2C0-7.76-1.28-7.76-6.81V393.44h-5.32v54.83c0%2C9.47%2C4.36%2C12.24%2C13.08%2C11.7%22%20transform%3D%22translate(-479.29%20-288.04)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M515.06%2C323.94H677v162h-162ZM510%2C318.88V491H682.1V318.88Z%22%20transform%3D%22translate(-479.29%20-288.04)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M581.82%2C460.19c5-.11%2C10.54-1.28%2C14.48-5.64l.63-1c1.31%2C4.62%2C4.68%2C6.44%2C10.14%2C6.52q1.08%2C0%2C2.28-.06v-4.78a22.1%2C22.1%2C0%2C0%2C1-2.27-.12c-3.87-.38-5.5-2-5.5-6.69v-2.55l0-.06V407.28h-5.36V445c-.39%2C6.74-7.51%2C10-14.54%2C10-7.24%2C0-14.58-3.4-14.58-9.79v-37.9h-5.32v37.9c0%2C10.43%2C10.11%2C15%2C20%2C15%22%20transform%3D%22translate(-479.29%20-288.04)%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
}

.email .close, .reviews-carousel .close {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(154deg) brightness(107%) contrast(106%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(154deg) brightness(107%) contrast(106%);
}

@media only screen and (orientation: landscape) and (max-height: 480px) {
  body {
    height: 100vw;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav, .overlay, section {
    display: none;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  color: #0b2836;
  font-size: 2.4rem;
  margin: 15px 0;
}
@media (max-width: 479px) {
  h2 {
    font-size: 5.625vw;
    margin: 4.6875vw 0;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 10px 0;
}
@media (max-width: 479px) {
  h4 {
    font-size: 5.46875vw;
    margin: 3.125vw 0;
  }
}

p {
  line-height: 1.4;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 15px 0;
  color: #666;
}
@media (max-width: 479px) {
  p {
    font-size: 4.375vw;
    margin: 0 0 4.6875vw 0;
  }
}

body, main {
  background: #ffffff;
  overflow: hidden;
}

main {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}
@media (min-width: 992px) {
  main {
    top: 0;
  }
}
@media (min-width: 480px) {
  main {
    max-width: 480px;
    max-height: 852.624px;
  }
}
@media (min-width: 480px) and (min-aspect-ratio: 100/178) and (orientation: portrait) {
  main {
    bottom: auto;
    right: auto;
    height: 100vh;
    width: 56.2967967123vh;
    left: calc(50% - 56.2967967123vh / 2);
  }
}

.slideshow,
.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.nav-overlay {
  z-index: 2;
  display: none;
}

main[data-active=true] .nav-overlay {
  display: block;
}

.slideshow .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideshow .swiper-slide {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideshow-pagination {
  position: fixed;
  left: calc(50% - 330px);
  width: 45px;
  top: 0;
  height: 852.624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (orientation: landscape) and (max-width: 675px) {
  .slideshow-pagination {
    display: none;
  }
}
@media only screen and (orientation: landscape) and (max-width: 675px) {
  .slideshow-pagination {
    display: none;
  }
}
.slideshow-pagination .slideshow-btn {
  width: 100%;
  height: 45px;
  border-radius: 50%;
  border: solid 1px #666;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206.41%2010%22%3E%3Cpath%20d%3D%22M541%2C374a1%2C1%2C0%2C0%2C1-.71-.29%2C1%2C1%2C0%2C0%2C1%2C0-1.42l3.3-3.29-3.3-3.29a1%2C1%2C0%2C0%2C1%2C1.42-1.42l4.7%2C4.71-4.7%2C4.71A1%2C1%2C0%2C0%2C1%2C541%2C374Z%22%20transform%3D%22translate(-540%20-364)%22%20fill%3D%22rgb(102%2C102%2C102)%22%2F%3E%3C%2Fsvg%3E");
  background-size: 35%;
  margin: 0 0 30px 0;
  background-position: 55% 50%;
}
.slideshow-pagination .slideshow-prev {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.slideshow-pagination .slideshow-next {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav, .overlay {
  z-index: 3;
  width: 100%;
  margin: auto 0;
  position: relative;
  height: 100%;
}

.nav {
  pointer-events: none;
}
.nav ul, .nav .btn {
  pointer-events: all;
}
.nav a {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav ul {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  margin: 0;
  padding: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  list-style-type: none;
}
@media (max-width: 479px) {
  .nav ul {
    width: 18.125vw;
    padding: 0 3.75vw 0 0;
  }
}
.nav li {
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  line-height: 1;
  margin: 0 0 15px 0;
  text-shadow: 1px 1px 3px #000000;
}
@media (max-width: 479px) {
  .nav li {
    font-size: 3.125vw;
    margin: 0 0 3.125vw 0;
  }
}
.nav li a {
  position: relative;
  display: block;
  padding: 45px 0 15px 0;
}
@media (max-width: 479px) {
  .nav li a {
    padding: 10.9375vw 0 3.125vw 0;
  }
}
.nav li a::before {
  content: "";
  width: 40px;
  height: 40px;
  left: 10px;
  margin: 0 auto;
  top: 0;
  position: absolute;
  opacity: 0.75;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 479px) {
  .nav li a::before {
    width: 9.375vw;
    height: 9.375vw;
    left: 2.5vw;
  }
}
.nav li a.mute-btn::before {
  width: 50px;
  left: 5px;
}
@media (max-width: 479px) {
  .nav li a.mute-btn::before {
    width: 12.5vw;
    left: 0.9375vw;
  }
}
.nav li a.mute-btn[data-muted=true]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20321%22%3E%3Cg%3E%3Cpath%20d%3D%22M217.39%2C22.25c-2.12%2C.94-31.87%2C20.48-66.12%2C43.42l-62.27%2C41.7-36.54%2C.23-36.54%2C.23-4.78%2C2.39c-2.96%2C1.48-5.91%2C3.86-7.74%2C6.25l-2.96%2C3.86-.28%2C40.7c-.41%2C59.25-3.43%2C56.07%2C53.16%2C56.08h35.29l61.92%2C41.49c34.06%2C22.81%2C63.9%2C42.43%2C66.32%2C43.59%2C11.37%2C5.47%2C27.22%2C.48%2C31.88-10.04%2C1.87-4.21%2C1.84-255.58-.02-259.8-4.33-9.78-20.38-14.96-31.3-10.1Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%20fill-rule%3D%22evenodd%22%2F%3E%3Cpath%20d%3D%22M313.97%2C82.27c-10.13%2C4.14-16.72%2C14.06-16.78%2C25.26-.05%2C10.06%2C2.45%2C13.75%2C23.03%2C33.99%2C9.79%2C9.62%2C17.79%2C17.77%2C17.79%2C18.11s-8.17%2C8.69-18.17%2C18.55c-20.35%2C20.08-22.64%2C23.5-22.71%2C33.86-.1%2C15.6%2C11.4%2C27.01%2C27.21%2C26.99%2C11.09-.02%2C12.04-.64%2C34.17-22.32l18.98-18.6%2C18.98%2C18.6c20.3%2C19.89%2C22.8%2C21.7%2C31.22%2C22.55%2C20.9%2C2.13%2C36.9-20.1%2C27.52-38.23-1.73-3.35-8.48-10.85-20.42-22.67-9.8-9.71-17.82-18.04-17.82-18.5s8.01-8.71%2C17.79-18.33c20.55-20.2%2C23.07-23.91%2C23.07-33.99%2C0-15.43-11.28-26.42-27.19-26.47-11.49-.04-13.39%2C1.17-34.86%2C22.15l-18.66%2C18.24-18.22-18.03c-23.1-22.86-31.3-26.72-44.94-21.14Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Crect%20x%3D%22464%22%20width%3D%2236%22%20height%3D%2236%22%20fill%3D%22%23ffffff%22%20opacity%3D%220%22%2F%3E%3Crect%20x%3D%22464%22%20y%3D%22285%22%20width%3D%2236%22%20height%3D%2236%22%20fill%3D%22%23ffffff%22%20opacity%3D%220%22%2F%3E%3C%2Fsvg%3E");
}
.nav li a.mute-btn[data-muted=true] .mute {
  display: none;
}
.nav li a.mute-btn[data-muted=false]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20321%22%3E%3Cpath%20d%3D%22M400.81%2C1.29c-9.36%2C3.29-16.33%2C11.52-16.38%2C19.36-.04%2C6.14%2C.96%2C7.71%2C12%2C18.72%2C70.41%2C70.23%2C71.97%2C168.73%2C3.83%2C241.85-14.57%2C15.64-15.44%2C23.44-3.66%2C32.96%2C17.36%2C14.02%2C32.72%2C7.05%2C59.05-26.83%2C67.93-87.37%2C56.96-200.65-27.07-279.45-7.5-7.03-18.87-9.74-27.78-6.61ZM217.39%2C22.25c-2.12%2C.94-31.87%2C20.48-66.12%2C43.42l-62.27%2C41.7-36.54%2C.23-36.54%2C.23-4.78%2C2.39c-2.96%2C1.48-5.91%2C3.86-7.74%2C6.25l-2.96%2C3.86-.28%2C40.7c-.41%2C59.25-3.43%2C56.07%2C53.16%2C56.08h35.29l61.92%2C41.49c34.06%2C22.81%2C63.9%2C42.43%2C66.32%2C43.59%2C11.37%2C5.47%2C27.22%2C.48%2C31.88-10.04%2C1.87-4.21%2C1.84-255.58-.02-259.8-4.33-9.78-20.38-14.96-31.3-10.1Zm110.59%2C41.1c-9.09%2C1.11-18.09%2C7.76-20.84%2C15.39-2.39%2C6.63-1.01%2C10.48%2C7.1%2C19.88%2C33.28%2C38.55%2C35.07%2C85.63%2C4.64%2C122.16-11.3%2C13.56-11.38%2C21.43-.3%2C30.38%2C15.16%2C12.25%2C30.28%2C7.74%2C45.85-13.67%2C35.54-48.86%2C33.89-109.17-4.27-155.84-13.14-16.07-19.73-19.82-32.18-18.3Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}
.nav li a.mute-btn[data-muted=false] .unmute {
  display: none;
}
.nav li a:hover, .nav li a:focus {
  outline: 0;
}
.nav li a.nav-btn:hover::before, .nav li a.nav-btn:focus::before {
  opacity: 1;
}
.nav li a[data-target=reviews-carousel]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20202.06%20183.65%22%3E%3Cpath%20d%3D%22M193.23%2C29c-21.26-41.53-75.2-34.55-92.2-3.69C84.03-5.54%2C30.09-12.52%2C8.83%2C29c-26.31%2C51.39%2C14.05%2C84.96%2C19.68%2C91.6%2C14.96%2C17.68%2C51.85%2C48.77%2C66.44%2C60.85%2C3.53%2C2.92%2C8.64%2C2.92%2C12.17%2C0%2C14.59-12.08%2C51.48-43.16%2C66.44-60.85%2C5.63-6.65%2C45.99-40.21%2C19.68-91.6Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%3C%2Fsvg%3E");
}
.nav li a[data-target=faqs]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201.29%20199.07%22%3E%3Cpath%20d%3D%22M100.64%2C0C45.05%2C0%2C0%2C39.53%2C0%2C88.29s45.06%2C88.29%2C100.64%2C88.29h.03c1.78%2C0%2C3.2%2C1.5%2C3.06%2C3.27l-1.11%2C14.44h.03c0%2C.06-.02%2C.12-.02%2C.18%2C0%2C2.54%2C2.06%2C4.6%2C4.6%2C4.6%2C.6%2C0%2C1.18-.12%2C1.7-.33%2C.3-.16%2C.6-.32%2C.89-.47%2C69.25-37%2C81.73-72.05%2C81.73-72.05%2C6.24-11.49%2C9.74-24.35%2C9.74-37.93C201.29%2C39.53%2C156.23%2C0%2C100.64%2C0ZM50.11%2C106.86c-8.24%2C0-14.93-6.68-14.93-14.93s6.68-14.93%2C14.93-14.93%2C14.93%2C6.68%2C14.93%2C14.93-6.68%2C14.93-14.93%2C14.93Zm51.02%2C0c-8.24%2C0-14.93-6.68-14.93-14.93s6.68-14.93%2C14.93-14.93%2C14.93%2C6.68%2C14.93%2C14.93-6.68%2C14.93-14.93%2C14.93Zm51.02%2C0c-8.24%2C0-14.93-6.68-14.93-14.93s6.68-14.93%2C14.93-14.93%2C14.93%2C6.68%2C14.93%2C14.93-6.68%2C14.93-14.93%2C14.93Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%3C%2Fsvg%3E");
}
.nav li a[data-target=email]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200.2%20164.57%22%3E%3Cpath%20d%3D%22M197.29%2C75.11L127.61%2C3.16c-6.45-6.66-17.73-2.09-17.73%2C7.18v30.77C59.22%2C41.93%2C14.35%2C86.88%2C.37%2C140.84c0%2C.02%2C.01%2C.03%2C.02%2C.05-.25%2C.9-.39%2C1.84-.39%2C2.81%2C0%2C5.82%2C4.72%2C10.54%2C10.54%2C10.54%2C2.06%2C0%2C3.98-.6%2C5.6-1.62%2C.64-.53%2C1.29-1.06%2C1.95-1.58%2C21.14-16.67%2C53.31-27.33%2C89.37-27.33%2C.81%2C0%2C1.62%2C.01%2C2.43%2C.02v30.49c0%2C9.27%2C11.28%2C13.84%2C17.73%2C7.18l69.68-71.94c3.87-4%2C3.87-10.35%2C0-14.36Z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%3C%2Fsvg%3E");
}
.nav li a[data-target=cta] {
  font-size: 0;
}
.nav li a[data-target=cta]::before {
  border-radius: 50%;
  border: solid 2px #fff;
  width: 50px;
  height: 50px;
  left: 5px;
}
@media (max-width: 479px) {
  .nav li a[data-target=cta]::before {
    width: 11.875vw;
    height: 11.875vw;
    left: 1.25vw;
  }
}
.nav .btn {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
}
@media (max-width: 479px) {
  .nav .btn {
    bottom: 4.6875vw;
  }
}

@media (min-width: 480px) {
  .btn-md {
    padding: 14px 0 11px 0;
    font-size: 2.2rem;
  }
}

main[data-active-slide="0"] .nav li a[data-target=cta], main[data-active-slide="3"] .nav li a[data-target=cta], main[data-active-slide="5"] .nav li a[data-target=cta], main[data-active-slide="6"] .nav li a[data-target=cta], main[data-active-slide="7"] .nav li a[data-target=cta], main[data-active-slide="11"] .nav li a[data-target=cta] {
  opacity: 0;
  pointer-events: none;
}
main[data-active-slide="6"] .nav .btn {
  border: solid 2px #ffffff;
  color: #ffffff;
  text-shadow: 0 0 6px #0b2836;
  background-color: transparent;
}
main[data-active-slide="1"] .nav .btn, main[data-active-slide="2"] .nav .btn, main[data-active-slide="4"] .nav .btn, main[data-active-slide="8"] .nav .btn, main[data-active-slide="9"] .nav .btn, main[data-active-slide="10"] .nav .btn {
  opacity: 0;
  pointer-events: none;
}

section {
  background: #ffffff;
  padding: 20px 0;
  border-radius: 16px 16px 0 0;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
  width: 100%;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(11, 40, 54, 0.2);
          box-shadow: 0 -5px 10px 0 rgba(11, 40, 54, 0.2);
}
@media (max-width: 479px) {
  section {
    padding: 4.6875vw 0;
  }
}
section[data-active=true] {
  bottom: 0;
}
section[data-active=false] {
  bottom: -100%;
}
section h2, section p {
  color: #0b2836;
}
section h2 {
  text-align: center;
}

video {
  width: 100%;
}

.overlay {
  z-index: 5;
  position: absolute;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr="#00A60000", endColorstr="#FF000000");
  background-image: -owg-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
}

h2, p {
  color: #ffffff;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 15px 15px 15px;
}
.content h2, .content p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 1px 1px 3px #000000;
}
.content h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 75px 15px 0;
}
@media (max-width: 479px) {
  .content h2 {
    font-size: 5.46875vw;
    margin: 0 17.5vw 3.125vw 0;
  }
}
.content p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0 75px 30px 0;
  font-weight: 500;
}
@media (max-width: 479px) {
  .content p {
    font-size: 3.75vw;
    margin: 0 17.5vw 6.25vw 0;
  }
}

.swiper-slide[data-cta=true] .content {
  padding-bottom: 70px;
}
@media (max-width: 479px) {
  .swiper-slide[data-cta=true] .content {
    padding-bottom: 15.625vw;
  }
}

.close {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030.64%2030.64%22%3E%3Ctitle%3Ex-narrow%3C%2Ftitle%3E%3Cpath%20d%3D%22M19.45%2C15.56%2C30.59%2C4.43a1%2C1%2C0%2C0%2C0%2C0-1.42L28.11.54a1%2C1%2C0%2C0%2C0-1.41%2C0L15.56%2C11.67%2C4.43.54A1%2C1%2C0%2C0%2C0%2C3%2C.54L.54%2C3a1%2C1%2C0%2C0%2C0%2C0%2C1.42L11.67%2C15.56.54%2C26.7a1%2C1%2C0%2C0%2C0%2C0%2C1.41L3%2C30.59a1%2C1%2C0%2C0%2C0%2C1.42%2C0L15.56%2C19.45%2C26.7%2C30.59a1%2C1%2C0%2C0%2C0%2C1.41%2C0l2.48-2.48a1%2C1%2C0%2C0%2C0%2C0-1.41Z%22%20transform%3D%22translate(-0.24%20-0.24)%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 70% 30%;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 479px) {
  .close {
    width: 18.75vw;
    height: 18.75vw;
  }
}

.question {
  color: #ffffff;
  font-weight: 700;
  font-size: 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #999999;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%205.33%208.78%22%3E%3Cpath%20d%3D%22M52.19%2C37.35H50.75v-.66a1.76%2C1.76%2C0%2C0%2C1%2C.12-.75%2C2.72%2C2.72%2C0%2C0%2C1%2C.53-.65l.92-.94a1.06%2C1.06%2C0%2C0%2C0%2C.3-.78%2C1%2C1%2C0%2C0%2C0-.31-.76%2C1%2C1%2C0%2C0%2C0-.77-.3%2C1.12%2C1.12%2C0%2C0%2C0-.82.34%2C1.31%2C1.31%2C0%2C0%2C0-.38.84l-1.54-.12a2.7%2C2.7%2C0%2C0%2C1%2C.89-1.78%2C2.85%2C2.85%2C0%2C0%2C1%2C1.91-.64%2C2.69%2C2.69%2C0%2C0%2C1%2C1.82.61%2C2.19%2C2.19%2C0%2C0%2C1%2C.71%2C1.72%2C2.07%2C2.07%2C0%2C0%2C1-.18.86%2C2.63%2C2.63%2C0%2C0%2C1-.39.63c-.14.15-.34.36-.6.6l-.14.12-.37.37a1.25%2C1.25%2C0%2C0%2C0-.26.83Z%22%20transform%3D%22translate(-48.8%20-31.15)%22%20fill%3D%22rgb(153%2C153%2C153)%22%2F%3E%3Cpath%20d%3D%22M50.8%2C39.67a.84.84%2C0%2C0%2C1-.29-.65.87.87%2C0%2C0%2C1%2C.28-.66.93.93%2C0%2C0%2C1%2C.68-.28%2C1%2C1%2C0%2C0%2C1%2C.68.26.91.91%2C0%2C0%2C1%2C0%2C1.31.93.93%2C0%2C0%2C1-.68.28A1%2C1%2C0%2C0%2C1%2C50.8%2C39.67Z%22%20transform%3D%22translate(-48.8%20-31.15)%22%20fill%3D%22rgb(153%2C153%2C153)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  margin-left: 6px;
  vertical-align: text-top;
}
@media (max-width: 479px) {
  .question {
    height: 4.375vw;
    width: 4.375vw;
    margin-left: 1.5625vw;
  }
}

.reviews-carousel {
  text-align: center;
  background-color: #f7f6f4;
  padding: 15px 0 45px 0;
}
@media (max-width: 479px) {
  .reviews-carousel {
    padding: 4.6875vw 0 9.375vw 0;
  }
}
@media (max-width: 479px) {
  .reviews-carousel .col-xs-12 {
    padding: 0;
  }
}
.reviews-carousel h3 {
  color: #666666;
  padding: 0 10px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 20px 0;
}
@media (max-width: 479px) {
  .reviews-carousel h3 {
    font-size: 4.375vw;
    margin: 3.125vw 0 6.25vw 0;
  }
}
.reviews-carousel h4 {
  font-size: 1.8rem;
  color: #0b2836;
  line-height: 1;
  margin: 0;
  position: relative;
}
@media (max-width: 479px) {
  .reviews-carousel h4 {
    font-size: 5.625vw;
  }
}
.reviews-carousel h4[data-source-type=social] {
  text-align: left;
  padding: 15px 0 30px 65px;
}
@media (max-width: 479px) {
  .reviews-carousel h4[data-source-type=social] {
    padding: 2.96875vw 0 9.375vw 15.625vw;
  }
}
.reviews-carousel h4[data-source-type=social]::before {
  content: "";
  width: 45px;
  height: 45px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
}
@media (max-width: 479px) {
  .reviews-carousel h4[data-source-type=social]::before {
    width: 14.0625vw;
    height: 14.0625vw;
    top: -0.625vw;
  }
}
.reviews-carousel h4[data-source-type=social]::after {
  content: "";
  width: 38px;
  height: 38px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 4px;
}
@media (max-width: 479px) {
  .reviews-carousel h4[data-source-type=social]::after {
    width: 6.875vw;
    height: 6.875vw;
    top: 2.34375vw;
    right: -1.5625vw;
  }
}
.reviews-carousel h4[data-source=twitter] {
  color: #1da1f2;
}
.reviews-carousel h4[data-source=twitter]::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2078%2078%22%3E%3Cpath%20d%3D%22M69.92%2C20.28a24.42%2C24.42%2C0%2C0%2C1-7%2C1.93%2C12.27%2C12.27%2C0%2C0%2C0%2C5.38-6.77%2C24.48%2C24.48%2C0%2C0%2C1-7.77%2C3A12.24%2C12.24%2C0%2C0%2C0%2C39.65%2C29.56%2C34.73%2C34.73%2C0%2C0%2C1%2C14.44%2C16.78a12.25%2C12.25%2C0%2C0%2C0%2C3.79%2C16.33%2C12.16%2C12.16%2C0%2C0%2C1-5.54-1.53c0%2C.05%2C0%2C.1%2C0%2C.15a12.24%2C12.24%2C0%2C0%2C0%2C9.81%2C12%2C12.26%2C12.26%2C0%2C0%2C1-5.52.21A12.25%2C12.25%2C0%2C0%2C0%2C28.4%2C52.44%2C24.7%2C24.7%2C0%2C0%2C1%2C10.29%2C57.5%2C34.61%2C34.61%2C0%2C0%2C0%2C29%2C63c22.5%2C0%2C34.81-18.64%2C34.81-34.81q0-.79%2C0-1.58a24.83%2C24.83%2C0%2C0%2C0%2C6.1-6.33Zm0%2C0%22%20fill%3D%22rgb(29%2C161%2C242)%22%2F%3E%3C%2Fsvg%3E");
}
.reviews-carousel h4[data-source=facebook] {
  color: #1877f2;
}
.reviews-carousel h4[data-source=facebook]::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2078%2078%22%3E%3Cpath%20d%3D%22M48.53%2C38.87H42V62H32.43V38.87H27.86V30.7h4.57V25.41c0-3.78%2C1.8-9.7%2C9.7-9.7l7.12%2C0v7.93H44.09a2%2C2%2C0%2C0%2C0-2%2C2.23v4.81h7.33Zm0%2C0%22%20fill%3D%22rgb(24%2C119%2C242)%22%2F%3E%3C%2Fsvg%3E");
  width: 40px;
  height: 35px;
  right: 0px;
}
@media (max-width: 479px) {
  .reviews-carousel h4[data-source=facebook]::after {
    width: 10.9375vw;
    height: 10.9375vw;
    top: 0vw;
    right: 0vw;
  }
}
.reviews-carousel h4[data-source=instagram] {
  color: #82008f;
}
.reviews-carousel h4[data-source=instagram]::after {
  background-image: url("./logo-instagram-color.png?&w=60");
  background-size: contain;
  width: 30px;
  height: 36px;
}
@media (max-width: 479px) {
  .reviews-carousel h4[data-source=instagram]::after {
    width: 5.625vw;
    height: 5.625vw;
    top: 2.8125vw;
  }
}
.reviews-carousel .swiper-container {
  margin: 0 25px;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-container {
    margin: 0 7.8125vw;
  }
}
.reviews-carousel .swiper-container .swiper-slide {
  padding-bottom: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 7px;
  padding-right: 7px;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-container .swiper-slide {
    padding-left: 1.5625vw;
    padding-right: 1.5625vw;
  }
}
.reviews-carousel .swiper-container .swiper-slide:focus {
  outline: none;
}
.reviews-carousel .swiper-button-next,
.reviews-carousel .swiper-button-prev {
  width: 36px;
  height: 36px;
  margin-top: -24px;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.5);
  border: solid 1px #ccc;
  z-index: 1;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-button-next,
  .reviews-carousel .swiper-button-prev {
    width: 11.25vw;
    height: 11.25vw;
    margin-top: -7.5vw;
  }
}
.reviews-carousel .swiper-button-next::after,
.reviews-carousel .swiper-button-prev::after {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-button-next::after,
  .reviews-carousel .swiper-button-prev::after {
    font-size: 4.375vw;
  }
}
.reviews-carousel .swiper-button-next:hover, .reviews-carousel .swiper-button-next:focus,
.reviews-carousel .swiper-button-prev:hover,
.reviews-carousel .swiper-button-prev:focus {
  outline: none;
  background-color: rgba(153, 153, 153, 0.65);
  border: solid 1px #858585;
}
.reviews-carousel .swiper-button-prev {
  left: 8px;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-button-prev {
    left: 3.125vw;
  }
}
.reviews-carousel .swiper-button-next {
  right: 8px;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-button-next {
    right: 3.125vw;
  }
}
.reviews-carousel .swiper-pagination {
  left: 0;
  right: 0;
  margin-top: 5px;
  text-align: center;
}
@media (max-width: 479px) {
  .reviews-carousel .swiper-pagination {
    margin-top: 1.5625vw;
  }
}
.reviews-carousel .swiper-pagination-bullet {
  margin: 0 5px;
  background-color: #666;
}
.reviews-carousel .swiper-pagination-bullet:focus {
  outline: 0;
  opacity: 0.75;
}
.reviews-carousel .swiper-pagination-bullet-active {
  opacity: 1;
}
.reviews-carousel .item {
  background-color: #ffffff;
  padding: 15px 20px 50px 20px;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0px 4px 8px rgba(11, 40, 54, 0.1);
          box-shadow: 0px 4px 8px rgba(11, 40, 54, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 479px) {
  .reviews-carousel .item {
    padding: 4.6875vw 6.25vw 15.625vw 6.25vw;
    -webkit-box-shadow: 0 1.25vw 2.5vw rgba(11, 40, 54, 0.1);
            box-shadow: 0 1.25vw 2.5vw rgba(11, 40, 54, 0.1);
    margin-bottom: 3.125vw;
  }
}
.reviews-carousel .item p {
  color: #666;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  line-height: 1.2;
}
.reviews-carousel .item p.reviewer {
  bottom: 0;
  left: 20px;
  right: 20px;
  text-align: right;
  text-transform: none;
  padding-top: 15px;
  margin: 0 0 20px 0;
  top: auto;
  -webkit-transform: none;
          transform: none;
  font-weight: 700;
  color: #0b2836;
}
@media (max-width: 479px) {
  .reviews-carousel .item p.reviewer {
    left: 6.25vw;
    right: 6.25vw;
    padding-top: 4.6875vw;
    margin: 0 0 6.25vw 0;
  }
}
.reviews-carousel .review-title {
  position: relative;
  min-height: 45px;
}
@media (max-width: 479px) {
  .reviews-carousel .review-title {
    min-height: 14.0625vw;
  }
}
.reviews-carousel .review {
  min-height: 165px;
  position: relative;
}
@media (max-width: 479px) {
  .reviews-carousel .review {
    min-height: 46.875vw;
  }
}
.reviews-carousel .btn {
  margin-top: 45px;
}
@media (max-width: 479px) {
  .reviews-carousel .btn {
    margin-top: 14.0625vw;
  }
}
.reviews-carousel.navy {
  background-color: #0b2836;
}
.reviews-carousel.navy h2, .reviews-carousel.navy h3 {
  color: #ffffff;
}
.reviews-carousel.navy .swiper-pagination-bullet {
  background-color: #ffffff;
}
.reviews-carousel.navy .swiper-button-prev,
.reviews-carousel.navy .swiper-button-next {
  background-color: rgba(255, 255, 255, 0.75);
}
.reviews-carousel.navy .swiper-button-prev:focus,
.reviews-carousel.navy .swiper-button-next:focus {
  border-color: #0b2836;
}
.reviews-carousel.navy .swiper-button-prev::after,
.reviews-carousel.navy .swiper-button-next::after {
  color: #0b2836;
}

.reviews-carousel h4.lazyloaded[data-reviewer="@taydempereira"].lazyloaded::before {
  background-image: url("./taydempereira.jpg");
}
.reviews-carousel h4.lazyloaded[data-reviewer="@mariapretelt"]::before {
  background-image: url("./mariapretelt.jpg");
}
.reviews-carousel h4.lazyloaded[data-reviewer="@kyla.moravec"]::before {
  background-image: url("./kyla-moravec.jpg");
}
@media (max-width: 479px) {
  .reviews-carousel h4.lazyloaded[data-reviewer="@paigexalexandria"] {
    font-size: 5vw;
  }
}
.reviews-carousel h4.lazyloaded[data-reviewer="@paigexalexandria"]::before {
  background-image: url("./paigexalexandria.jpg");
}
.reviews-carousel h4.lazyloaded[data-reviewer="@sydneejaynexo"]::before {
  background-image: url("./sydneejaynexo.jpg");
}
.reviews-carousel h4.lazyloaded[data-reviewer="@__Mel4"]::before {
  background-image: url("./__Mel4.jpg");
}
.reviews-carousel h4.lazyloaded[data-reviewer="@barfieldthecat"]::before {
  background-image: url("./barfieldthecat.jpg");
}

@media (min-width: 768px) {
  .container {
    width: auto !important;
  }
}

.faqs {
  height: 70%;
}
.faqs h2 {
  font-size: 2rem;
  margin: 0;
}
@media (max-width: 479px) {
  .faqs h2 {
    font-size: 4.375vw;
  }
}

.faqs-heading {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}
@media (max-width: 479px) {
  .faqs-heading {
    top: 6.25vw;
  }
}

.faqs-container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
}
@media (max-width: 479px) {
  .faqs-container {
    top: 15.625vw;
  }
}
.faqs-container::-webkit-scrollbar {
  width: 6px;
}
@media (max-width: 479px) {
  .faqs-container::-webkit-scrollbar {
    width: 1.875vw;
  }
}
.faqs-container::-webkit-scrollbar-thumb {
  background-color: #56dbd6;
  border: solid 1px #f7f5f3;
  border-radius: 3px;
}

.faq-question {
  padding: 5px 20px 0 55px;
  position: relative;
}
@media (max-width: 479px) {
  .faq-question {
    padding: 1.5625vw 4.6875vw 0 12.5vw;
  }
}
.faq-question h3 {
  color: #848484;
  font-size: 1.6rem;
  margin: 0 0 5px 0;
}
@media (max-width: 479px) {
  .faq-question h3 {
    font-size: 3.75vw;
    margin: 0 0 1.5625vw 0;
  }
}
.faq-question p {
  color: #000;
}
.faq-question p:not(.date) {
  margin-bottom: 5px;
}
@media (max-width: 479px) {
  .faq-question p:not(.date) {
    margin-bottom: 1.5625vw;
  }
}
.faq-question p.date {
  color: #848484;
  font-size: 1.6rem;
}
@media (max-width: 479px) {
  .faq-question p.date {
    font-size: 3.75vw;
  }
}
.faq-question .icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22a%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20340.51%20330.32%22%3E%3Ccircle%20cx%3D%22170.25%22%20cy%3D%2277.26%22%20r%3D%2277.26%22%20fill%3D%22rgb(98%2C98%2C98)%22%2F%3E%3Cpath%20d%3D%22M340.51%2C330.32c-8.88-86.19-81.71-153.42-170.25-153.42S8.88%2C244.13%2C0%2C330.32H340.51Z%22%20fill%3D%22rgb(98%2C98%2C98)%22%2F%3E%3C%2Fsvg%3E");
}
@media (max-width: 479px) {
  .faq-question .icon {
    width: 9.375vw;
    height: 9.375vw;
  }
}
.faq-question .icon.user {
  background-size: 85%;
  background-position: 50% 100%;
}
.faq-question .icon.logo {
  width: 20px;
  height: 20px;
  background-color: #0b2836;
}
@media (max-width: 479px) {
  .faq-question .icon.logo {
    width: 6.25vw;
    height: 6.25vw;
  }
}
.faq-question .icon.checkmark {
  width: 11px;
  height: 11px;
  background-color: #56dbd6;
  display: inline-block;
  position: static;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018.4%2014.59%22%3E%3Cpath%20d%3D%22M18.05%2C2%2C16.44.34a1.12%2C1.12%2C0%2C0%2C0-1.59%2C0l0%2C0L7%2C8.4%2C3.55%2C4.78A1.13%2C1.13%2C0%2C0%2C0%2C2%2C4.75l0%2C0L.32%2C6.45a1.22%2C1.22%2C0%2C0%2C0%2C0%2C1.67l4.3%2C4.45%2C1.61%2C1.67a1.13%2C1.13%2C0%2C0%2C0%2C1.59%2C0l0%2C0%2C1.61-1.67%2C8.59-8.89A1.21%2C1.21%2C0%2C0%2C0%2C18.05%2C2Z%22%20transform%3D%22translate(0.01%200.01)%22%20fill%3D%22rgb(255%2C255%2C255)%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  background-size: 60%;
}
@media (max-width: 479px) {
  .faq-question .icon.checkmark {
    width: 2.5vw;
    height: 2.5vw;
  }
}
.faq-question sup {
  font-size: 105%;
  font-weight: 900;
  top: -4px;
}
@media (max-width: 479px) {
  .faq-question sup {
    top: -0.9375vw;
  }
}

.faq-answer {
  padding-left: 40px;
  position: relative;
}
@media (max-width: 479px) {
  .faq-answer {
    padding-left: 9.375vw;
  }
}

.email {
  color: #ffffff;
  text-align: center;
  background-color: #0b2836;
}
.email h2 {
  margin: 25px 0 0 0;
  text-transform: none;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0;
  font-style: italic;
  color: #ffffff;
}
@media (max-width: 479px) {
  .email h2 {
    margin: 6.25vw 0 0 0;
    font-size: 6.25vw;
  }
}
.email h3 {
  font-size: 7.5rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  color: #56dbd6;
}
@media (max-width: 479px) {
  .email h3 {
    font-size: 17.5vw;
  }
}
.email h3 sup {
  font-size: 60%;
  font-weight: 500;
}
.email h4 {
  font-size: 3.2rem;
  position: relative;
  line-height: 1.2;
  margin: 5px 0;
  text-align: center;
}
@media (max-width: 479px) {
  .email h4 {
    font-size: 7.5vw;
    margin: 1.5625vw 0;
  }
}
.email h4 .any-size {
  position: relative;
}
.email h4 .any-size::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20182.01%207.99%22%3E%3Cpath%20d%3D%22M.1%2C5.73S16.76%2C1.15%2C90%2C.29C136.8-.77%2C182%2C1.53%2C182%2C1.53l-.1%2C2.27S136.7%2C1.5%2C89.86%2C2.56C18.72%2C4.21%2C0%2C8%2C0%2C8Z%22%20transform%3D%22translate(-0.01%20-0.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%20fill-rule%3D%22rgb(86%2C219%2C214)%22%2F%3E%3C%2Fsvg%3E");
  height: 14px;
  position: absolute;
  top: 32px;
  left: -7px;
  right: -7px;
  z-index: -1;
}
@media (max-width: 479px) {
  .email h4 .any-size::after {
    height: 3.125vw;
    top: 7.5vw;
    left: -1.5625vw;
    right: -1.5625vw;
  }
}
.email h5 {
  color: #ffffff;
  padding: 0 0 0 36px;
  background-position: 0 0;
  background-size: 24px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2035.01%2040.5%22%3E%3Cpath%20d%3D%22M32%2C12.07a1%2C1%2C0%2C0%2C0%2C1.35%2C0h0l1.36-1.37a1%2C1%2C0%2C0%2C0%2C0-1.35h0L31.63%2C6.25a1%2C1%2C0%2C0%2C0-1.34%2C0l0%2C0L28.91%2C7.61A1%2C1%2C0%2C0%2C0%2C28.9%2C9V9l.13.13-1%2C1A16.84%2C16.84%2C0%2C0%2C0%2C19.51%2C6.5V4.75h1.06a1%2C1%2C0%2C0%2C0%2C1-1V1a1%2C1%2C0%2C0%2C0-1-1H14.44a1%2C1%2C0%2C0%2C0-1%2C1V3.79a1%2C1%2C0%2C0%2C0%2C1%2C1h1.05V6.5a17%2C17%2C0%2C0%2C0-8.57%2C3.57l-1-1L6.09%2C9a1%2C1%2C0%2C0%2C0%2C0-1.35l0%2C0L4.73%2C6.25a1%2C1%2C0%2C0%2C0-1.35%2C0v0L.28%2C9.34a1%2C1%2C0%2C0%2C0%2C0%2C1.35h0l1.37%2C1.37a1%2C1%2C0%2C0%2C0%2C1.35%2C0H3l.13-.14%2C1%2C1a17%2C17%2C0%2C1%2C0%2C26.8%2C0l1-1Zm-1.4%2C11.38A13.12%2C13.12%2C0%2C0%2C1%2C17.5%2C36.56h0A13.11%2C13.11%2C0%2C1%2C1%2C30.59%2C23.43Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M25.74%2C18.57a1%2C1%2C0%2C0%2C0-1.37-.4l-5.9%2C2.89a2.6%2C2.6%2C0%2C1%2C0%2C.32%2C4.65%2C2.56%2C2.56%2C0%2C0%2C0%2C1.26-1.95L25.43%2C20a1%2C1%2C0%2C0%2C0%2C.3-1.4Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M18.6%2C23.73a1.14%2C1.14%2C0%2C1%2C1-.82-1.38%2C1.14%2C1.14%2C0%2C0%2C1%2C.82%2C1.38Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M21.19%2C16.94a1.06%2C1.06%2C0%2C1%2C0-.4-1.45h0a1.08%2C1.08%2C0%2C0%2C0%2C0%2C1.07%2C1.37%2C1.37%2C0%2C0%2C0%2C.38.38Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M17.44%2C16a1.07%2C1.07%2C0%2C1%2C0-1.07-1.06h0a1.14%2C1.14%2C0%2C0%2C0%2C.14.54%2C1%2C1%2C0%2C0%2C0%2C.92.52Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M17.58%2C31h0A1.08%2C1.08%2C0%2C0%2C0%2C16.52%2C32a1.06%2C1.06%2C0%2C0%2C0%2C1.06%2C1.05h0A1.06%2C1.06%2C0%2C0%2C0%2C18.64%2C32h0a1%2C1%2C0%2C0%2C0-1.05-1Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M21.31%2C29.93a1.06%2C1.06%2C0%2C0%2C0-.38%2C1.44h0a1.06%2C1.06%2C0%2C0%2C0%2C1.83-1.08%2C1.08%2C1.08%2C0%2C0%2C0-1.47-.38Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M25.47%2C26.76A1.06%2C1.06%2C0%2C0%2C0%2C24%2C28.23a1%2C1%2C0%2C0%2C0%2C.39.39%2C1.06%2C1.06%2C0%2C0%2C0%2C1.44-.39h0a1.07%2C1.07%2C0%2C0%2C0-.4-1.46Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M10%2C23.55A1%2C1%2C0%2C0%2C0%2C8.93%2C22.5a1.06%2C1.06%2C0%2C0%2C0-1%2C1.07h0a1.06%2C1.06%2C0%2C0%2C0%2C2.12%2C0Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M9.6%2C26.91a1.06%2C1.06%2C0%2C0%2C0-.37%2C1.45h0a1.06%2C1.06%2C0%2C0%2C0%2C1.46.38h0a1.07%2C1.07%2C0%2C1%2C0-1.1-1.83Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M25%2C23.4a1%2C1%2C0%2C0%2C0%2C.15.53%2C1.06%2C1.06%2C0%2C1%2C0%2C.35-1.45%2C1.07%2C1.07%2C0%2C0%2C0-.51.92Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M9.53%2C20.2A1.05%2C1.05%2C0%2C0%2C0%2C11%2C19.81h0a1.07%2C1.07%2C0%2C0%2C0-1.87-1.05%2C1%2C1%2C0%2C0%2C0%2C.41%2C1.45Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M13.68%2C17h0s0%2C0%2C0%2C0h0a1.06%2C1.06%2C0%2C0%2C0-1.08-1.83h0a1%2C1%2C0%2C0%2C0-.37%2C1.44h0a1.07%2C1.07%2C0%2C0%2C0%2C1.45.38Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3Cpath%20d%3D%22M13.82%2C30a1.05%2C1.05%2C0%2C0%2C0-1.44.39h0a1.1%2C1.1%2C0%2C0%2C0%2C0%2C1.07%2C1.15%2C1.15%2C0%2C0%2C0%2C.4.39%2C1.07%2C1.07%2C0%2C0%2C0%2C1-1.86Z%22%20transform%3D%22translate(0%200.01)%22%20fill%3D%22rgb(86%2C219%2C214)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1.4;
}
@media (max-width: 479px) {
  .email h5 {
    padding: 0 0 0 8.4375vw;
    background-size: 5.625vw;
    font-size: 5.625vw;
    margin: 4.6875vw 0;
  }
}
.email p {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px 0 0 0;
  position: relative;
  color: #ffffff;
}
@media (max-width: 479px) {
  .email p {
    font-size: 2.8125vw;
    margin: 3.125vw 0;
  }
}
.email .btn {
  color: #0b2836;
}
.email form input {
  width: 100%;
  padding: 14px 20px;
  font-size: 1.8rem;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 5px;
  color: #0b2836;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (max-width: 479px) {
  .email form input {
    font-size: 4.375vw;
    padding: 3.125vw 4.6875vw;
  }
}
.email form input:focus {
  outline: none;
}
.email form input.error {
  -webkit-box-shadow: 0 0 0 2px #f72351 !important;
          box-shadow: 0 0 0 2px #f72351 !important;
}
.email form input.error::-webkit-input-placeholder {
  color: #f72351;
}
.email form input.error::-moz-placeholder {
  color: #f72351;
}
.email form input.error:-ms-input-placeholder {
  color: #f72351;
}
.email form input.error::-ms-input-placeholder {
  color: #f72351;
}
.email form input.error::placeholder {
  color: #f72351;
}
.email form .submit {
  border-radius: 5px;
  width: 100%;
}

.cta h2 {
  font-size: 2.6rem;
}
@media (max-width: 479px) {
  .cta h2 {
    font-size: 5.9375vw;
  }
}
.cta p {
  text-align: center;
  color: #666;
  font-weight: 500;
  margin: 0 0 15px 0;
}
@media (max-width: 479px) {
  .cta p {
    margin: 0 0 3.125vw 0;
  }
}
.cta p:last-of-type {
  margin: 0 0 30px 0;
}
@media (max-width: 479px) {
  .cta p:last-of-type {
    margin: 0 0 6.25vw 0;
  }
}

.financing {
  height: 70%;
}

.teal {
  color: #56dbd6;
}

.pink {
  color: #f72351;
}