// body {
//   position: relative;
// }
main {
	position: absolute;
  max-width: none;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
iframe {
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
}