
/* When editing, use the source file for this page in client/resources/sass */
@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "partials/svg";
//@import "partials/base";
@import "partials/layout";
//@import "partials/snippets/lull-button-base";
@import "animate/properties";
@import "animate/sliding-entrances/slideInUpSubtle"; 


.bed-frames {
  text-align: center;
  padding: 15px 15px 30px 0px;
  background-color: $white;
  overflow: hidden;
  position: relative;
  @include mq(xsm) {
    padding: vwl(15px) vwl(15px) vwl(30px) vwl(15px);
  }
  @include mq(xxs) {
    padding: vwp(15px) vwp(15px) vwp(30px) vwp(15px);
  }
  @include mq(sm) {
    padding: 30px 0;
  }
  @include mq(md) {
    padding: 45px 0 60px 0;
  }
  @include mq(lg) {
    padding: 45px 0 75px 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    background-color: #ededed;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    @include mq(sm) {
      width: 720px;
    }
    @include mq(md) {
      width: 940px;
    }
    @include mq(lg) {
      width: 1140px;
    }
  }
  h2 {
    color: $navy;
  }
  h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .frames {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
    }
    li {
      position: relative;
      opacity: 0;
      transition: .2s;
       // Animations 
      &.slide-in {
        opacity: 1;
        @include slideInUpSubtle(
          $duration: .4s,
          $delay: .2s,
          $function: ease
        );
      }
      &.slide-in-2 {
        opacity: 1;
        @include slideInUpSubtle(
          $duration: .4s,
          $delay: .3s,
          $function: ease
        );
      }
      &.slide-in-3 {
        opacity: 1;
        @include slideInUpSubtle(
          $duration: .4s,
          $delay: .4s,
          $function: ease
        );
      }
    }
    &.primary {
      @include mq(sm) {
        margin-top: 15px;
      }
      @include mq(lg) {
        margin-top: 30px;
      }
      ul {
        flex-direction: column;
        padding: 0;
        @include mq(xs) {
          flex-direction: row;
        }
      }
      li {
        padding: 0;
        margin: 0 0 10px 0;
        @include mq(xsm) {
          margin: 0 0 vwl(10px) 0;
        }
        @include mq(xxs) {
          margin: 0 0 vwp(10px) 0;
        }
        @include mq(xs) {
          flex: 1;
          margin: 0 15px 15px 0;
        }
        @include mq(md) {
          margin: 0 30px 15px 0;
        }
        &:last-of-type {
          @include mq(xs) {
            margin-right: 0;
          }
        }
        &[data-type='wood'] {
          a {
            &::before {
              @include frames-wood($teal);
            }
          }
        }
        &[data-type='metal'] {
          a {
            &::before {
              @include frames-metal($teal);
            }
          }
        }
        &[data-type='foundation'] {
          a {
            &::before {
              @include frames-boxspring($teal);
            }
          }
        }
        a {
          display: block;
          height: 100%;
          padding: 10px 0 10px 45%;
          font-size: 1.4rem;
          padding: vwp(10px) 0 vwp(10px) 45%;
          font-size: vwp(14px);
          font-weight: 500;
          text-align: left;
          line-height: 1.2;
          background-color: #e0f9f8;
          border-radius: 8px;
          border: solid 3px #e0f9f8;
          transition: 0.2s;
          color: $navy;
          position: relative;
          @include mq(xs) {
            padding: 65px 35px 35px 35px;
            padding: vwl(65px) vwl(35px) vwl(35px) vwl(35px);
            font-size: vwl(14px);
            text-align: center;
          }
          @include mq(sm) {
            padding: 100px 0 55px 0;
            font-size: 1.8rem;
          }
          @include mq(md) {
            padding: 110px 0 55px 0;
            font-size: 2rem;
          }
          @include mq(lg) {
            padding: 135px 0 70px 0;
            font-size: 2.4rem;
          }
          &::before {
            content: '';
            position: absolute;
            width: 30%;
            top: 10px;
            left: 15px;
            height: 36px;
            @extend %svg;
            top: vwp(10px);
            left: vwp(15px);
            height: vwp(36px);
            @include mq(xs) {
              top: vwl(10px);
              width: 60%;
              left: 20%;
              height: vwl(45px);
            }
            @include mq(sm) {
              width: 70%;
              left: 15%;
              top: 20px;
              height: 65px;
            }
            @include mq(md) {
              width: 60%;
              left: 20%;
              top: 30px;
            }
            @include mq(lg) {
              width: 50%;
              left: 25%;
              top: 45px;
              height: 65px;
            }
          }
          &::after {
            content: '';
            position: absolute;
            $height: 18px;
            width: $height;
            height: $height;
            border-radius: 50%;
            border: solid 1px $navy;
            @include arrow-thin($navy);
            background-size: 60%;
            background-position: 50% 55%;
            background-repeat: no-repeat;
            right: 15px;
            top: calc(50% - (#{$height} / 2));
            transform: rotate(270deg);

            $height: vwp(18px);
            width: $height;
            height: $height;
            right: vwp(15px);
            top: calc(50% - (#{$height} / 2));
            @include mq(xs) {
              $height: vwl(18px);
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              top: auto;
              bottom: vwl(10px);
            }
            @include mq(sm) {
              $height: 22px;
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              bottom: 20px;
            }
            @include mq(lg) {
              $height: 26px;
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              border-width: 2px;
              bottom: 30px;
            }
          }
          &:hover,
          &:focus {
            border-color: $teal;
          }
          &:focus {
            outline: none;
          }
        }
        &[data-type='foundation'] {
          a {
            &::before {
              @include frames-boxspring($teal);
            }
          }
        }
        a {
          display: block;
          height: 100%;
          padding: 10px 0 10px 45%;
          font-size: 1.4rem;
          padding: vwp(10px) 0 vwp(10px) 45%;
          font-size: vwp(14px);
          font-weight: 500;
          text-align: left;
          line-height: 1.2;
          background-color: #e0f9f8;
          border-radius: 8px;
          border: solid 3px #e0f9f8;
          transition: 0.2s;
          color: $navy;
          position: relative;
          @include mq(xs) {
            padding: 65px 35px 35px 35px;
            padding: vwl(65px) vwl(35px) vwl(35px) vwl(35px);
            font-size: vwl(14px);
            text-align: center;
          }
          @include mq(sm) {
            padding: 100px 0 55px 0;
            font-size: 1.8rem;
          }
          @include mq(md) {
            padding: 110px 0 55px 0;
            font-size: 2rem;
          }
          @include mq(lg) {
            padding: 135px 0 70px 0;
            font-size: 2.4rem;
          }
          &::before {
            content: '';
            position: absolute;
            width: 30%;
            top: 10px;
            left: 15px;
            height: 36px;
            @extend %svg;
            top: vwp(10px);
            left: vwp(15px);
            height: vwp(36px);
            @include mq(xs) {
              top: vwl(10px);
              width: 60%;
              left: 20%;
              height: vwl(45px);
            }
            @include mq(sm) {
              width: 70%;
              left: 15%;
              top: 20px;
              height: 65px;
            }
            @include mq(md) {
              width: 60%;
              left: 20%;
              top: 30px;
            }
            @include mq(lg) {
              width: 50%;
              left: 25%;
              top: 45px;
              height: 65px;
            }
          }
          &::after {
            content: '';
            position: absolute;
            $height: 18px;
            width: $height;
            height: $height;
            border-radius: 50%;
            border: solid 1px $navy;
            @include arrow-thin($navy);
            background-size: 60%;
            background-position: 50% 55%;
            background-repeat: no-repeat;
            right: 15px;
            top: calc(50% - (#{$height} / 2));
            transform: rotate(270deg);

            $height: vwp(18px);
            width: $height;
            height: $height;
            right: vwp(15px);
            top: calc(50% - (#{$height} / 2));
            @include mq(xs) {
              $height: vwl(18px);
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              top: auto;
              bottom: vwl(10px);
            }
            @include mq(sm) {
              $height: 22px;
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              bottom: 20px;
            }
            @include mq(lg) {
              $height: 26px;
              width: $height;
              height: $height;
              right: calc(50% - (#{$height} / 2));
              border-width: 2px;
              bottom: 30px;
            }
          }
          &:hover,
          &:focus {
            border-color: $teal;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    &.secondary {
      @include mq(xssm) {
        padding: 0 15%;
      }
      ul {
        flex-direction: row;
        margin: 0;
        padding: 0 5px;
        background-color: #fff;
        border-radius: 8px;
        transition: background-color .4s;
        @include mq(xsm) {
          padding: 0 vwl(5px);
        }
        @include mq(xxs) {
          padding: 0 vwl(5px);
        }
        &.fade-in {
          background-color: #f7f6f4;
        }
      }
      li {
        height: 100%;
        text-align: center;
        padding: 54px 0 12px 0;
        flex: 1;
        font-size: 1.1rem;
        font-weight: 500;
        color: #666;
        padding: vwp(54px) 0 vwp(12px) 0;
        font-size: vwp(11px);
        opacity: 0;
        @include mq(xs) {
          padding: 70px 0 10px 0;
          padding: vwl(70px) 0 vwl(10px) 0;
          font-size: vwl(11px);
        }
        @include mq(sm) {
          padding: 90px 0 15px 0;
          font-size: 1.4rem;
        }
        @include mq(md) {
          font-size: 1.8rem;
        }
        @include mq(lg) {
          padding: 110px 0 20px 0;
          font-size: 2.2rem;
        }
        &::before {
          content: '';
          position: absolute;
          @extend %svg;
          top: 12px;
          left: 12px;
          right: 12px;
          height: 36px;
          top: vwp(12px);
          left: vwp(12px);
          right: vwp(12px);
          height: vwp(36px);
          @include mq(xs) {
            top: vwl(15px);
            left: vwl(15px);
            right: vwl(15px);
            height: vwl(45px);
          }
          @include mq(sm) {
            height: 60px;
            top: 20px;
          }
          @include mq(lg) {
            height: 70px;
            top: 30px;
          }
        }
        &[data-type='flat'] {
          &::before {
            @include frames-platform(#b3b3b3);
          }
        }
        &[data-type='adjustable'] {
          &::before {
            @include frames-adjustable(#b3b3b3);
            left: 6px;
            right: 6px;
            @include mq(xsm) {
              left: vwl(6px);
              right: vwl(6px);
            }
            @include mq(xxs) {
              left: vwp(6px);
              right: vwp(6px);
            }
          }
        }
        &[data-type='slatted'] {
          &::before {
            @include frames-slats(#b3b3b3);
          }
        }
      }
    }
  }
}
