@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/svg';
@import 'partials/layout';

.financing-info {
  text-align: center;
  padding: 30px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f0f0f0;
  background-position: 50% 60%;
  z-index: 1;
  @include mq(md) {
    padding: 45px 0 60px 0;
  }
  @include mq(lg) {
    padding: 60px 0 75px 0;
  }
  &.lazyloaded {
    background-image: url('../assets/mattress/opm-couple-on-mattress-smiling-mobile-v2.jpg');
    background-size: 100%;
    @include mq(xs) {
      background-image: url('../assets/mattress/opm-couple544.jpg');
      background-size: 61%;
      background-position: 100% 100%;
    }
    @include mq(sm) {
      background-image: url('../assets/mattress/opm-couple768.jpg');
      background-size: 600px;
      background-position: calc(50% + 196px) 100%;
    }
    @include mq(md) { 
      background-image: url('../assets/mattress/opm-couple992.jpg');
      background-size: 720px;
      background-position: calc(50% + 240px) 100%;
    }
    @include mq(lg) {
      background-image: url('../assets/mattress/opm-couple1200.jpg');
      background-size: 840px;
      background-position: calc(50% + 300px) 100%;
      @include retina {
        background-image: url('../assets/mattress/opm-couple1200x2.jpg');
      }
    }
    @media (min-width: 1440px) {
      background-image: url('../assets/mattress/opm-couple1440.jpg');
      background-size: 1000px;
      background-position: calc(50% + 380px) 100%;
      @include retina {
        background-image: url('../assets/mattress/opm-couple1440x2.jpg');
      }
    }
    @media (min-width: 1660px) {
      background-image: url('../assets/mattress/opm-couple1660.jpg');
      background-size: 1110px;
      background-position: calc(50% + 405px) 100%;
      padding: 90px 0 105px 0;
      @include retina {
        background-image: url('../assets/mattress/opm-couple1660x2.jpg');
      }
    }
  }
  @include mq(xsm) {
    padding: vwl(30px) 0;
  }
  @include mq(xxs) {
    padding: vwp(30px) 0;
  }
  .col-xs-12 {
    @include mq(xssm) {
      width: 50%;
    }
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0 0 15px 0;
    color: #476f82;
    @include mq(xsm) {
      margin: 0 0 vwl(15px) 0;
    }
    @include mq(xxs) {
      margin: 0 0 vwp(250px) 0;
    }
    @include mq(md) { 
      margin: 0 0 30px 0;
    }
    span {
      &::before {
        font-size: 7rem;
        font-weight: 700;
        @include mq(xsm) {
          font-size: vwl(70px);
        }
        @include mq(xxs) {
          font-size: vwp(70px);
        }
      }
    }
    sup {
      font-size: 3.5rem;
      top: -2.75rem;
      @include mq(xsm) {
        font-size: vwl(35px);
        top: vwl(-27.5px);
      }
      @include mq(xxs) {
        font-size: vwp(35px);
        top: vwp(-27.5px);
      }
    }
  }
  p {
    color: $navy;
    font-weight: 500;
  }
}
